[2016-12-20 18:32] #364 closed

[2016-12-20 18:37] JustinAzoff commented on #364
Sounds good to me.  I'll work on a PR for the myricom stats.  I worked it out in python a while ago.. It's just a matter of opening /dev/myriC{0,1,..} running an ioctl and unpacking the response.

[2016-12-20 18:40] discordianfish commented on #357
Actually I think this is a bit more complicated. This still uses regular (not 'Const..') metrics, which means they keep their last value. If the ntp server wasn't available when started, the metric doesn't exist at all. If it went down while the exporter runs, it gets stale.

Instead we should use const metrics here as well. This would make sure the metric is always missing if ntp is unreachable o

[2016-12-20 18:44] discordianfish commented on #358
I think this applies to all prometheus services and should be moved somewhere else. Common repo? golang-builder or promu?
/cc @sdurrheimer

[2016-12-20 18:46] discordianfish commented on #322
Going to close this, hope that's fine with you all.
Feel free to open new issues if you find a metric with missing/misleading help string or think there are specific things missing from the prometheus docs.

[2016-12-20 18:46] #322 closed

[2016-12-20 18:50] discordianfish commented on #316
@Rizanamic I'm not very familiar with windows services. Do you know how windows determines whether a service started or not? If you start node_exporter.exe via cmd, does it keep running or stops right away? If it stops, please paste it's output.

[2016-12-20 18:56] discordianfish commented on #306
@jcollie Can you somehow reproduce this? Looks like something internally in godbus, possible https://github.com/godbus/dbus/issues/45
We updated godbus vendoring recently, so it might be fixed in master.

[2016-12-20 18:58] discordianfish commented on #255
@echoAlexey Could you provide a bit more context?

[2016-12-20 18:59] discordianfish commented on #252
Looks like this can be closed. Feel free to re-open this this isn't the case.

[2016-12-20 18:59] #252 closed

[2016-12-20 19:01] discordianfish commented on #189
Good question. I'd refer this to @matthiasr and @sdurrheimer. I guess the reason was that not every project uses end-to-end tests but we reuse the Makefile across project. But I don't feel strong about this.

[2016-12-20 19:08] discordianfish commented on #216
I see how it's convinient, but I like the explicitness of the current approach. In general I assume we will have more collectors that are enabled by default and less that are disabled, give that we want to limit the node-exporter to system metrics for which it's usually cheap to have the enabled but not expose anything.

@SuperQ Thoughts?

[2016-12-20 19:15] SuperQ commented on #216
I personally prefer the individual flags for each collector, the way we do it in the mysqld_exporter.  No need for a global default flag, each collector can just keep their defaults.

[2016-12-20 19:22] SuperQ commented on #357
Ahh, I missed the Const metric thing. I thought we had fixed all of those.

[2016-12-20 19:37] discordianfish commented on #216
@SuperQ The question (as I understand it) is about enabling additional collectors without having to specific *all* collectors as you do now.

[2016-12-20 19:52] SuperQ commented on #216
Yes, individual collector flags allow for exactly that.  Either take the default on a collector-by-collector basis, or override them.

[2016-12-20 20:32] SuperQ commented on #133
Shouldn't that be `macOS`[0] :smirk:

[0]: https://www.engadget.com/2016/06/13/os-x-is-now-macos/

[2016-12-20 20:47] discordianfish commented on #216
Ah, got it. What about we keep the comma-separated enabled flag and use that as default for per collector flags like `--<collector>.enabled`? That way we don't break existing usage and support the use case @therealbill described (`... --collectors.enabled="" --foo.enabled`). The only downside is that `collectors.enabled` only enables a collector if the collector specific flag doesn't disable it ag

[2016-12-20 20:55] SuperQ commented on #216
What I'm thinking is this:
* Add `-collector.<collector>.enabled` for all existing collectors, with respective defaults.
* Add a handler to make `-collectors.enabled` work with the new flags.
* Declare future collectors not supported by `-collectors.enabled`
* Declare `-collectors.enabled` deprecated in v0.14.

We can remove support for `-collectors.enabled` sometime after v0.14.

[2016-12-20 20:56] SuperQ commented on #108
Yup, fixed!

[2016-12-20 20:56] #108 closed

[2016-12-21 04:23] grobie commented on #189
I don't mind adding a make target for e2e tests and including them in the `all`/defualt target. We already have slightly diverging Makefiles in the various projects and I don't believe it should be a goal to have the same file everywhere. Though, the e2e tests can result in cryptic errors right now. E.g. I tried executing them in my working directory with a potentially ancient node-exporter binary

[2016-12-21 11:03] discordianfish commented on #189
@grobie submitted PR to add this to the Makefile. Also spend way to much time for the tiny change to improving the end-to-end errors. Now it prints the log if the node-exporter exited != 0 (which is probably what caused your cryptic error). Took me some time to realize something is eating stdout, haven't found what though.. Anyway, agreed that we should rewrite them in go at some point.

[2016-12-21 11:56] thapakazi commented on #322
@discordianfish i like the old way of doing things **"do one thing do it well"**
Prometheus docs is quite informative leveraging the documentation from ground scratch and I am thankful to all who maintain it very well. Meantime my take on this *Readme* improvement could be generalised from following:
1. Putting general/generic stuffs in prometheus docs
(basics as it is now with little more diagram

[2016-12-21 17:10] discordianfish commented on #322
@thapakazi Do you have specific diagrams you would like to see?

Regarding the wiki, I'd be worried that people will add a lot of things to it but never care to update it, which will in the end be much more confusing.

BTW, you can already edit the README directly in the browser and submit a pull request.

[2016-12-21 17:33] #189 closed

[2016-12-21 22:55] peanut-buttermilk commented on #139
I tried following still facing the same issue.

[code]

[2016-12-22 04:45] thapakazi commented on #322
not yet,

 ...was braining a thought, if we could design one like [RabbitMQ Visualisers](https://jmcle.github.io/rabbitmq-visualizer/) or some basic diagrams/gifs... explaining/experementing concepts/stuffs with much ease, rather than a static flow diagram && pushing it to next level, may be we could generate **configs out of those simulations**. Just my fantasy dream it is for now, for that i don

[2016-12-22 11:02] beorn7 commented on #377
Ideally, your exporter code makes sure to never create duplicate metrics.

But you can also leverage the client library. With v0.8 of client_golang, you can configure the behavior in case of errors. You could log the error and not expose the offending metric (first metric wins) instead of letting the whole scrape fail (which is the default).

You should never expose inconsistent metrics (which the

[2016-12-22 15:59] peanut-buttermilk opened #380 "Unable to build for FreeBSD"
I tried rename approach, but still facing the same issue. (https://github.com/prometheus/node_exporter/issues/139)
[code]

[2016-12-22 16:15] discordianfish commented on #199
Do we know someone who could sponsor some unix VMs or something to test this? Reviewing #311 right now and I have no way to test this.

[2016-12-22 16:53] mattbostock opened #381 "Generic cron wrapper"
I'm thinking it would be useful to have a generic wrapper tool, packaged with node_exporter, that runs a cron script and records the exit code and execution time in a file for use with the text collector.

For example:

[code]

The metrics might look like:

[code]

The counts of exit codes could be deduced from `node_exporter_runner_execution_time_seconds_count` (though I'm thinking it might be wo

[2016-12-22 17:06] discordianfish commented on #381
@mattbostock Might be useful for some, but I don't see why it should be bundled with the node exporter. I'd put that into a new repository. But if we talk about greenfield project anyway, maybe it makes more sense to add prometheus metrics to a existing cron implementation? That would be awesome and something I'd love to deploy to my infrastructures.

Currently I prefer having my cron script thems

[2016-12-22 17:11] discordianfish commented on #380
Looks like your working copy is dirty. Please try again with a fresh checkout or run `git clean -d -x -f`. If you need help in general, please contact the the user mailinglist or our IRC channel: https://prometheus.io/community/

[2016-12-22 17:11] #380 closed

[2016-12-22 17:46] mdlayher opened #382 "Add additional NFS metrics to mountstats collector"
I implemented about half of the available metrics for the first pass.

This entire structure contains more metrics that may or may not be useful: https://godoc.org/github.com/prometheus/procfs#NFSBytesStats.

I am currently working on another project but may be able to get back to this at some point in the next couple of weeks.  Otherwise, if these metrics are deemed useful, I wouldn't mind if som

[2016-12-22 17:47] mdlayher commented on #326
Another update: I started building this: https://github.com/mdlayher/netlink.

Through the use of generic netlink (working on a package for that), we should be able to query nl80211 for statistics.  Once I have that done, I'll start on a cross-platform wifi package (Linux only at first) and then integrate those metrics into node exporter.

[2016-12-22 17:48] discordianfish opened #383 "Define some light-weight maintainer processes"
I'd like to establish some light weight process how we handle issues and PRs. If we agree on those, I'll submit a PR to include this in CONTRIBUTING.md. I believe those simple changes will reduce frustration a lot, speed up time to resolve PRs and issues and ultimately save us time.

## Issues
- Someone opens new issues
- Maintainer reviews issue and either:
  - closes it
  - asks for clarificatio

[2016-12-22 18:00] discordianfish commented on #195
-> #324

[2016-12-22 18:04] discordianfish commented on #210
Since this is lightweight, useful for many and in no conflict with the proposed rules in (changed) #321, I'd accept this. Given that @grobie and I feel that way, I'm going to tag this as accepted (just to play with #383). Either way, this means somebody can work on implementing this.

[2016-12-22 18:06] discordianfish commented on #212
@SuperQ I'd say we just deprecated and remove it. I don't think anyone is using this right now. If so, they will complain once we deprecated it and we can still put together a standalone exporter (or revive the on in the junkyard). If you agree, we can close this in favor of #321 where the collector is deprecated.

[2016-12-22 18:09] discordianfish commented on #216
Just to be clear: `-collectors.enabled` would for now set the defaults for all `-collector.<collector>.enabled` flags as I described above? You basically just suggest that we deprecate it later? That sounds reasonable.

[2016-12-22 18:12] discordianfish commented on #240
I think we should finally address this. I can look into it in the next days probably.

[2016-12-22 18:14] discordianfish commented on #242
Given that #372 is merged, I'd consider this fixed and close the issue.
@vrischmann If you see this again with current master, feel free to reopen the issue.

[2016-12-22 18:14] #242 closed

[2016-12-22 18:29] discordianfish commented on #244
So! What to do about this issue? As I see it there is nothing we can do about stale nfs mounts. The syscalls end up in deep sleep and there is no way to cancel them, so those will pile up and cause issue anyway.

But we could solve this problem for other cases where a collect might take longer than the scrape interval and stuff piles up, just the question if it's worth it.

I don't have a finial o

[2016-12-23 16:42] byxorna commented on #244
@discordianfish I think excluding any common network filesystems from being monitored by node_exporter by default would be a good move. (nfs, lustre, gpfs, ....?)

[2016-12-23 21:57] matthiasr commented on #212
We are still using it (not much longer, I hope). I think the correct
timeline would be to provide a replacement, then deprecate, and later
remove it.

On Thu, Dec 22, 2016, 19:06 discordianfish <notifications@github.com> wrote:

[2016-12-23 23:40] SuperQ commented on #216
Yes, that's what I was thinking

[2016-12-23 23:44] SuperQ commented on #381
I was thinking about packing systemd unit/timer configs to handle textfile generators.  I don't think we should implement another supervisor, as there are already many out there.

[2016-12-24 06:39] SuperQ commented on #244
Our goal was to monitor all valid filesystems by default.  Network filesystems can be tricky, but I think they're still valid enough to keep them in the defaults.

[2016-12-25 09:56] discordianfish commented on #212
Oh okay, well should be easy to split it out.

[2016-12-25 10:00] discordianfish commented on #244
I'm leaning toward keeping them too. I prefer it because it's the more strict: Better monitor your stale nfs mount, causing your scrape to timeout which you can alert on, then not monitoring your stale nfs mount and therefor not realizing that something is wrong. Arguably you should monitor your nfs differently, but as a default catching this problem the the node-exporter not responding is IMO pre

[2016-12-25 10:05] SuperQ commented on #244
We're already adding NFS mount/rpc stats.  These will be in the next release.

[2016-12-25 10:10] discordianfish commented on #244
@SuperQ Right.. though you won't be able to access them if the node-exporter isn't responding because the mount is stale. That's the tricky issue. Wondering how hard it would be to implement a deadline for the collectors.

[2016-12-26 10:51] #325 closed

[2016-12-26 11:08] discordianfish commented on #339
Here is a snippet how to get the number of cpus on various OSes: http://stackoverflow.com/questions/150355/programmatically-find-the-number-of-cores-on-a-machine

[2016-12-26 11:10] discordianfish commented on #382
@mdlayher Would be great to get this into the 0.14 release I guess. Do you know when you'll get to this? We would like to release 0.14 sometime in early January.

[2016-12-26 11:12] discordianfish commented on #319
Going to close this. If you have question, please ask the user mailinglist or join the IRC channel: https://prometheus.io/

[2016-12-26 11:12] #319 closed

[2016-12-26 12:01] #362 closed

[2016-12-26 15:13] mdlayher commented on #382
@discordianfish Sure, should be doable!  If nothing else, the initial set of metrics already in place will still be useful.

[2016-12-26 15:16] mdlayher commented on #383
Seems like a reasonable process to me.  Admittedly, as a contributor, I wasn't sure who to bother or what guidelines to follow.  I've noticed that `#prometheus` on IRC is pretty frequently filled with help questions about Prometheus itself, so it can be difficult to get feedback on development there.

I'm in favor of anything that makes the process more well-defined.

[2016-12-27 09:37] discordianfish commented on #382
Great! Ping me when you submitted the PR and I'll make sure it gets reviewed quickly.

[2016-12-27 11:06] discordianfish opened #386 "meminfo fails on osx: sysctl(vm.stats.vm.v_page_size) failed"

[2016-12-27 18:37] discordianfish opened #388 "Figure out generic way to return platform dependent metrics"
While working on #387 I realize that we have a common problem which right now is solved different across all collectors.

A collector often requires platform dependent code, so we put the common logic into `foo.go` which calls some `getStats` function which is implemented for linux in `foo_linux.go` and maybe `foo_unix.go` for various unix OSes. Now getStats might return map[string]float64 and `fo

[2016-12-28 09:49] #271 closed

[2016-12-28 10:17] discordianfish commented on #255
Going to close it. Feel free to open the issue with more details if you're still interested in this.

[2016-12-28 10:17] #255 closed

[2016-12-28 10:27] discordianfish commented on #381
@SuperQ I like that!
@mattbostock I'd like to close this issue here. Might be useful but you can just put that in your own repo somewhere, no need to put it here. Hope that makes sense!

[2016-12-28 10:27] #381 closed

[2016-12-28 10:28] discordianfish commented on #299
There was a new release in the meanwhile and there will be a next release in January, so closing this.

[2016-12-28 10:28] #299 closed

[2016-12-28 14:59] cherti commented on #216
see #390.

[2016-12-29 14:27] lastsky opened #392 "node_exporter diskstats collector failed"
have you any ideas how to troubleshoot this?

**symptoms:**
- `curl http://127.0.0.1:9100/metrics` -> connection refused
- node_exporter eats all cpu (100%)
- no metrics

**frequency:** 24-72h on any server (any of 4 servers with unique detail have the same symptom)

**unique server's detail:**

`           *-storage`
`                description: RAID bus controller`
`                product: Meg

[2016-12-29 16:15] SuperQ commented on #392
It looks like the node_exporter is having trouble reading your diskstats file.  What kernel version are you running?

[2016-12-29 16:27] lastsky commented on #392
my kernel is:
`Linux 4.2.0-35-generic #40~14.04.1-Ubuntu SMP Fri Mar 18 16:37:35 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

there are several sensitive to disk io apps on servers, no problems found. disk metrics are normal and disk i/o load is low.

Problem for reading diskstats file repeats on 4 (four) different physical servers. But all of them are running with the same kernel, on the same server

[2016-12-29 17:52] lastsky commented on #392
should I disable some devices? should I test it with changing node_exporter start string?

`-collector.diskstats.ignored-devices="^(ram|loop|fd|(h|s|v|xv)d[a-z])\\d+$": Regexp of devices to ignore for diskstats.`

[2016-12-29 18:02] grobie commented on #383
For the release process, @beorn7 has written down the process (for the prometheus server mostly) somewhere.

I guess most of the stuff should go into CONTRIBUTING.md or into the special github dotfiles where applicable. So far the CONTRIBUTING.md file is the same on all official repositories though, but we might apply these guidelines to all projects anyway.

The suggestions read fine, I guess any

[2016-12-29 19:03] grobie opened #395 "Netdev linux collector doesn't check for scan errors"
When using the go scanners one ought to check for errors with the Err() function.

[2016-12-31 12:02] juliusv commented on #392
Ignoring devices won't help if the entire diskstats file cannot be parsed. The log `invalid line in /proc/diskstats: \x00\x00\x00...` suggests that Node Exporter sees a bunch of binary zeros in there for some reason. Would you be able to attach a binary copy of your `/proc/diskstats` here?

[2016-12-31 13:22] matthiasr commented on #383
👍 sounds very reasonable. happy to review what I can.

[2016-12-31 17:01] beorn7 commented on #383
That's written down in the prometheus/prometheus GH wiki: https://github.com/prometheus/prometheus/wiki/HOWTO-cut-a-new-release
That's more about releasing than about maintenance in general, but there is an overlap, certainly.

I think we should aim for unified guidelines of this kind across all Prometheus repos, and thus documenting them in the individual CONTRIBUTING.md files doesn't sound like

[2017-01-01 10:56] discordianfish commented on #339
This should be fixed now that the collector is replaced by a pure Go version.

[2017-01-01 10:56] #339 closed

[2017-01-03 06:46] liujiawinds commented on #371
@discordianfish Thank you, I got this done on my VPS which installed CentOS.

[2017-01-03 06:46] #371 closed

[2017-01-03 13:05] discordianfish commented on #307
#321 is merged, so closing this for now.

[2017-01-03 13:05] #307 closed

[2017-01-03 13:22] #240 closed

[2017-01-03 13:50] #386 closed

[2017-01-03 15:00] #395 closed

[2017-01-03 18:18] discordianfish commented on #304
I agree that technically UUID shouldn't be a label because the metric is about a device, not a volume. A UUID is also unbounded. Not sure if this has partical implications but I could imaging systems building/mounting images which always would cause a new timeseries to get created.

I think join as @SuperQ describes is the right way. But think it would be nice if we could provide `node_disk_info`

[2017-01-03 18:18] discordianfish commented on #304
If we can agree on this, I'd close the issue and create a new one for adding such metric.

[2017-01-03 18:27] raypettersen commented on #304
No complaints from me.

[2017-01-04 11:27] discordianfish commented on #101
megacli is now  marked as deprecated. We never deprecated features before, so it's up for discussion what happens next. We should definitely keep megacli in the 0.14 release but could remove it in 0.15. The question is more how much 0.14.x release we will have. But I'd say it should be gone in 0.15.

[2017-01-04 11:32] discordianfish commented on #133
We now have support on osx for the following collectors:

- cpu
- memory
- netdev
- filesystem

Therefor going to close this. For more osx metrics we can create new issues.

[2017-01-04 11:32] #133 closed

[2017-01-04 11:36] discordianfish commented on #150
Hum thought I commented after setting to accepted:
After thinking about this again and again I also think we should expose them according to our naming standards. I know that it requires some maintenance to keep this up to date but I don't think it's that much work either and I believe those changes are usually straight forward and something people can easily fix and contribute back.

The remainin

[2017-01-04 11:38] discordianfish commented on #212
@matthiasr Is this something you can do? Or somebody at SC in general? Also have a look at https://github.com/prometheus-junkyard/gmond_exporter which might already work for you.

[2017-01-04 11:40] brian-brazil commented on #150
There are over 450 metrics exposed by default, and we don't even know the names of all of them in advance. That's more than a little maintenance.

[2017-01-04 11:41] discordianfish commented on #254
Agreed that those should be untyped as long as we 'automatically' expose them (-> not by explicitly referring to them). Once we implement #150 this should change though.
Either way, I don't think there is anything to do here, so closing it.

[2017-01-04 11:41] #254 closed

[2017-01-04 11:42] discordianfish commented on #248
I believe this was added in #249, so closing this.

[2017-01-04 11:42] #248 closed

[2017-01-04 11:45] discordianfish commented on #276
Assuming #286 fixes this. Let us know if that's not the case and we can reopen this.

[2017-01-04 11:45] #276 closed

[2017-01-04 12:32] discordianfish commented on #291
Which version of the node-exporter are you using?
The collector is not parsing systemctl output but using go-systemd/dbus. The error is returned by conn.GetManagerProperty("SystemState") after successfully connecting to dbus. Maybe that propery doesn't exist in 208?

Can you run this and see what it's reporting?

[code]
If you can't compile it yourself, here is a linux/amd64 binary: https://drive.

[2017-01-04 12:38] discordianfish commented on #295
I don't think just supporting network stats across namespaces makes sense. Either we support slicing all metrics by namespace or only report system wide metrics as we do right now.

If you think we should have general support for namespaces and/or cgroups, we should open an issue for that. But in general cAdvisor should expose this IIRC.

PS: You can also run the exporter in the network namespace,

[2017-01-04 12:40] discordianfish commented on #298
This issue was moved to prometheus/common#71

[2017-01-04 12:40] #298 closed

[2017-01-04 12:53] robinbowes commented on #339
Just to confirm - I built this and am running it on my FreeNAS box and it's working just fine.

I wrote up what I did here: https://blog.yo61.com/installing-prometheus-node_exporter-on-freenas/

[2017-01-04 12:56] discordianfish commented on #317
@HyperDevil @SuperQ We deprecated the ntp collector.

Would it work for you to get the ntp time via the blackbox-exporter instead of the node-exporter? The node-exporter gives you the time of each host while the blackbox-exporter would give you the ntp time. Since the scrapes happen at different times, it's pretty coarse but often all you need.

If you care about smaller offsets, you can always ju

[2017-01-04 12:58] discordianfish commented on #339
Awesome! And great article, that should help me setting up some VM based tests too!

[2017-01-04 13:29] SuperQ commented on #317
I was also thinking about writing a small probing helper, similar to the nagios `check_ntp` that will print a textfile metric.  But using the golang NTP client library.

[2017-01-04 13:30] bluecmd commented on #295
That's what I suggested.

That assumes that the node_exporter would be reachable. I have namespaces that their only routes are internal to the network they serve, no external connectivity. So it would be quite painful to make that work.

Too bad that you don't see this as a feature worth having, I really think it would be a good thing.
Again, cAdvisor doesn't do namespaces but as far as I know onl

[2017-01-04 13:38] HyperDevil commented on #317
@discordianfish and i just implemented it in my configuration.. argh.
The output of ntq -p should be ok, preferably also to see all remote peers and which are * and + .
NTP_exporter? :)

[2017-01-04 13:44] discordianfish commented on #317
@HyperDevil Sorry about that. The ntp collector will also stay around for some more time though, so no need to rush.

And sure, creating a standalone ntp exporter is also always an option. Should be very easy to take the collector and turn it into a standalone exporter.

Going to close this issue though, I think you agree that it doesn't make sense to change the metric name now that it's deprecate

[2017-01-04 13:55] discordianfish commented on #295
Well, so far the node-exporter always exposes metrics about all of the host, no per process/container/namespace/cgroup stuff.

If we want to change that, we should discuss it in a dedicated issue first and implement it for all namespaces (network, mounts, ipc, pid etc), but as I understand it, that's what cadvisor is about.

Have you tried using it? Just did and it exposes network metrics:
[code]

[2017-01-04 13:58] bluecmd commented on #295
As the issue is quite old I don't remember the details, but for example in your case above you're using docker, which uses cgroups AND namespaces. What you get there (IIRC) is the cgroups numbers, not the namespace counters.

No, that's my point: You're only exporting part of the host metrics - the part that is in the current namespace. All other things running on the machine are invisible

[2017-01-04 14:12] discordianfish commented on #295
Hrm that's quite possible.

You're right, I assumed that the interfaces hidden from the exporter are always sub-interfaces but that doesn't need to be the case. Now I'm wondering though if we have similar issue with other namespaces. Like does node_filefd_allocated include fds allocated in a IPC namespace?

Either way, this should be fixed somehow.

[2017-01-04 15:02] discordianfish opened #400 "Fix CGO=0 builds"
Some collectors are only implemented with CGO, running a build with CGO disabled will just ignore those files which leads to build errors.

Instead we should make sure the node-exporter can be built with CGO disabled, even if it will disable many/most collectors.

[2017-01-04 15:10] discordianfish opened #401 "Build pull requests on circleci"
Looks like we only run the travisci tests, not the circleci builds which would at least get us some cross platform validation.

[2017-01-04 15:48] #377 closed

[2017-01-04 15:48] discordianfish commented on #377
@filippog This is fixed in master and will be included in the 0.14.0 release.

[2017-01-04 15:53] #317 closed

[2017-01-04 16:49] SuperQ commented on #317
`ntpq -p` is for ntpd metrics.. the ntp in node_exporter is a blackbox probe.

[2017-01-04 18:15] discordianfish opened #402 "Cross compiled netbsd binaries segfault in netbsd 7.0 VM"
Looking in ways to test the node-exporter across platforms and started with netbsd on virtualbox/vagrant, using this Vagrantfile:

[code]

Ran `promu crossbuild -p netbsd/amd64` on the host to cross compile the binary. In the VM though, the binary segfaults:

[code]

[2017-01-04 21:42] filippog commented on #377
sweet, thanks @discordianfish !

[2017-01-04 21:44] aparcar opened #403 "add node_reboot_required metric"
adding this metric would be simple on debian based systems by checking the existence of

    /var/run/reboot-required

[2017-01-04 22:03] PeterZaitsev opened #404 "Expose Current CPU Frequency"
Modern CPU cores often operate at different frequency than nominal such as:

processor       : 3
vendor_id       : GenuineIntel
cpu family      : 6
model           : 60
model name      : Intel(R) Xeon(R) CPU E3-1225 v3 @ 3.20GHz
stepping        : 3
microcode       : 0x17
cpu MHz         : 3400.000
cache size      : 8192 KB
physical id     : 0
siblings        : 4
core id         : 3
cpu cores

[2017-01-04 23:36] brian-brazil commented on #403
You can do this with a cronjob and the textfile collector. Distro-specific collectors don't belong in the node exporter.

[2017-01-05 03:09] grobie commented on #404
Duplicate of #210

[2017-01-05 03:09] #404 closed

[2017-01-05 10:05] aparcar commented on #403
Thanks for the information

[2017-01-05 10:05] #403 closed

[2017-01-05 10:41] discordianfish commented on #377
@aparcar OH.. yes please, a new issue would make sense.

[2017-01-05 11:22] aparcar opened #406 "Issue collecting duplicate entries from hwmon"
just like in #377 I have an issue with `node_hwmon_temp_celsius`

[code]
Issues occurs on master

[2017-01-05 11:23] aparcar commented on #377
Done, see #406

[2017-01-05 12:21] discordianfish commented on #406
@aparcar Thanks for the report! Can you paste the output of `find -L /sys/class/hwmon/ -maxdepth 2` please? Looks like there are some duplicated entries.

[2017-01-05 12:24] aparcar commented on #406
The german sentence in between mentions the detection of a fileystem loop
[code]

[2017-01-05 12:26] discordianfish commented on #406
Thanks, just realize `ls -al /sys/class/hwmon` would be helpful as well.

[2017-01-05 12:27] aparcar commented on #406
[code]

[2017-01-05 12:53] discordianfish commented on #406
So it looks like the chip 'dell_smm' has multiple sensors called 'ambient'. Don't know much about the hwmon subsystem though. @rtreffer any ideas about this?

@aparcar I bet at least two hwmonX directories contain a name file with 'dell_smm', right? Can you paste `cat /sys/class/hwmon/hwmon?/name`?

[2017-01-05 13:28] aparcar commented on #406
[code]

[2017-01-05 16:34] discordianfish opened #407 "Configure logging in prometheus.Handler"
See https://github.com/prometheus/client_golang/issues/268

[2017-01-06 15:33] #407 closed

[2017-01-07 01:19] lastsky commented on #392
i use runit as supervisor and added to all startup files string: `-collector.diskstats.ignored-devices="^(ram|loop|fd|(h|s|v|xv)d[a-z])\\d+$"`

no changes, node_exporter has crashed again.

[2017-01-07 01:20] lastsky commented on #392
and binary `/proc/diskstats` is the same as I show it with `cat` command

[2017-01-07 01:21] lastsky commented on #392
latest log:
[code]

[2017-01-07 01:32] lastsky commented on #392
`-log.level="debug"` added.

[2017-01-07 01:40] lastsky commented on #392
https://github.com/prometheus/node_exporter/issues/228 - this is the same bug on the same server.

also the same records:
`
2017-01-03_20:44:57.51836 time="2017-01-03T20:44:57Z" level=info msg="Listening on :9100" source="node_exporter.go:176"
2017-01-04_07:06:57.17592 fatal error: systemstack called from unexpected goroutine
2017-01-04_07:06:57.17595 fatal error: runtime·unlock: lock count
2017-0

[2017-01-08 09:45] SuperQ commented on #392
@juliusv I wonder if this would be better with the current master where we converted to `Const` metrics.

[2017-01-09 18:25] discordianfish commented on #216
Since #390 isn't exactly what we want, I created https://github.com/prometheus/node_exporter/compare/master...discordianfish:rework-flags?expand=1
It's not yet what we want either but want to get feedback early in case I miss something.

In it's current form, the defaults are as before. You can enable or disable collectors explicitly. This is the desired functionality, correct?

What's not working

[2017-01-10 04:16] lastsky commented on #392
[code]

[2017-01-10 04:17] lastsky commented on #392
-log.level="debug" removed.

[2017-01-10 11:01] justinclift opened #414 "cpu counter label mismatch between Darwin and FreeBSD?"
Trying out the new cpu counters on Darwin, the counter name is "node_cpu":

[code]

Looking at the cpu counter for FreeBSD, it seems to be called "node_cpu_seconds_total":

[code]

If they're for the same thing (seems to be?), shouldn't they use the same metric name to make things easier for cross-platform measurement comparison?

Pointing it out because it's making things a bit tricky with the de

[2017-01-10 11:21] #406 closed

[2017-01-10 13:06] justinclift commented on #414
Hmmmm, thinking about this more, it may not be useful to keep the same counter name across OS's.  Pretty much everything other than CPU has different requirements, so using "one dashboard per OS" seems fairly mandatory for host monitoring.

[2017-01-10 13:26] brian-brazil commented on #414
The FreeBSD name is the better name, and we'll likely be changing the Linux one over to that at some point in the future.

[2017-01-10 13:42] justinclift commented on #414
No worries. :smile:

[2017-01-10 16:02] SuperQ commented on #195
Fixed via #324

[2017-01-10 16:02] #195 closed

[2017-01-10 17:24] discordianfish commented on #150
@brian-brazil We don't necessarily need to change all but we should do it at least for the most common ones (cpu/memory/disk/net/).

[2017-01-10 17:25] discordianfish commented on #414
I used node_cpu for darwin to stay consistent with linux, but yes the freebsd name is better. Guess it makes sense to renaming them all together at some point. Going to close this here in favor of #150 which discusses consolidating of the metrics.

[2017-01-10 17:25] #414 closed

[2017-01-10 17:25] discordianfish commented on #150
Part of the consolidation should be having consistent metric names for the same things, see #414

[2017-01-10 18:33] brian-brazil commented on #150
We can only sanely fix things where we fully decide the name in the first place. CPU is one of those, memory is not.

[2017-01-10 19:14] justinclift commented on #150
Would it be useful to investigate how some of the older host monitoring solutions (Zabbix, etc) do this?  They may have figured out a practical approach which also lends itself well to cross platform capable dashboards.

[2017-01-10 19:16] brian-brazil commented on #150
Based on what I've seen, I imagine they're hand picking 10-20 metrics. We're at a scale where that doesn't work.

Cross-platform is very unlikely to work for anything beyond the simplest of metrics. Even something like load average varies significantly across platforms.

[2017-01-10 19:29] justinclift commented on #150
No worries at all. :smile:

[2017-01-12 08:28] lastsky commented on #392
crash repeated today on another server
  - same versions
  - same logs and outputs
  - same resolution (service restart)

[2017-01-12 13:08] #382 closed

[2017-01-12 13:30] klausenbusk commented on #326
@mdlayher Nice work :) Do you think it could expose the SSID name as a label? or is that out of scope?
Could be useful, so I/we don't need to pull SSID name from some other system. :)

[2017-01-12 15:03] mdlayher commented on #326
@klausenbusk It's kind of funny actually.  I've probed around nl80211 (for Linux only) a lot and it doesn't seem to return the string SSID in most of the calls.  I'll keep looking into it, but for now, it doesn't appear to be exposed with either of the "get all wifi interfaces" or "get station info" calls I'm currently using.

[2017-01-12 17:08] klausenbusk commented on #326
I just tried looking into the `iw` `dev <dev> link` command, which show the SSID. I didn't exactly got how it works, but if you haven't looked there already, you should be able to figure it out from that code :)

[2017-01-12 17:08] brian-brazil commented on #326
Should we enable this collector by default?

[2017-01-12 17:10] mdlayher commented on #326
Yeah, I bet it's exposed in nl80211 somewhere.  I'll just need to keep digging.

@brian-brazil The only reason we may not is that if nl80211 isn't present on a machine, it'll probably complain.

If nl80211 is present but the machine has no wifi interfaces, it won't complain.

[2017-01-12 17:15] mdlayher opened #416 "wifi collector fails if nl80211 not present on a Linux machine"
On one of my DigitalOcean droplets:

nl80211 not available in generic netlink families.

[code]

`node_exporter` fails to start if this is the case.

[code]

I'll submit a PR, since I can use `os.IsNotExist` to gracefully fail.

[2017-01-12 17:16] mdlayher opened #417 "zfs collector reports errors on scrape if ZFS not available"
Since it's enabled by default, it should be silenced if ZFS is not available on the machine.

Server is an Ubuntu 14.04 droplet on DigitalOcean.

[code]

[2017-01-12 17:24] SuperQ commented on #417
Let's reduce this to a Debug error.

[2017-01-12 18:07] mdlayher commented on #326
@brian-brazil once https://github.com/prometheus/node_exporter/pull/418 goes in, I'm all for it.

[2017-01-12 18:07] #417 closed

[2017-01-12 18:11] mdlayher commented on #401
This appears to be done.  All of my recent PRs have been run through CircleCI too.

See: https://github.com/prometheus/node_exporter/pull/418

[2017-01-12 20:22] klausenbusk commented on #326
It seems like your Go package panic if the interface is down.

I created the following `dummy.go` (was trying to get ssid), which has more or less the same check as `wifi` exporter.
[code]
which panic with the following error:

[code]

[2017-01-12 20:27] mdlayher commented on #326
Oh boy.  Moving to: https://github.com/mdlayher/wifi/issues/4.

[2017-01-12 20:33] mdlayher commented on #326
Prometheus should be fine because of this check: https://github.com/prometheus/node_exporter/blob/master/collector/wifi_linux.go#L148.

@brian-brazil want to close this out and open a new issue about adding more default collectors?

[2017-01-13 10:18] discordianfish commented on #401
Right, good catch.

[2017-01-13 10:18] #401 closed

[2017-01-13 14:20] eagafonov opened #421 "Expose CPU core count"
Number of CPU cores could be useful to adjust some metrics in 'per-CPU-core' basis.

For instance, meaning of Load Average value depends on how many core are available.
LA1=4 on a single core machine is a disaster but is low for 8-core server.

[2017-01-13 14:27] eagafonov commented on #421
There is an initial implementation for Linux stat collector
https://github.com/eagafonov/node_exporter/commit/72422a3a3c542d0242fafdbd0f59de03c748216c

[2017-01-13 20:34] mdlayher commented on #421
Note, my PromQL skills are not great.

[code]

Does this do what you want?

[2017-01-14 00:23] SuperQ commented on #421
I think you want this:
[code]

I think we could add this to an example rules file.

[2017-01-14 01:31] #416 closed

[2017-01-14 07:03] yeroc commented on #199
@discordianfish There are Vagrant images for Solaris 10/11 available if that helps?

[2017-01-14 10:31] eagafonov commented on #421
Yes, that works for me!

There is a drawback: Prometheus may spend quite significant CPU time to calculate it for each of 10/100/1000 exporters while each node exporter instance consumes a very little to get number of cores from stats.

 In other hand it not a good idea to keep CPU core count sequence in Prometheus database unless you may change CPU count dynamically.

[2017-01-14 15:20] lastsky commented on #392
yet another server, all data is the same:

[code]

[2017-01-14 15:28] SuperQ commented on #392
I will be cutting a new release soon, there are a few changes including migrating all of these metrics to const metrics that should help.

[2017-01-15 04:18] SuperQ commented on #304
Yes, let's make this a text file collector for now.  It could possibly be triggered/managed by udev infrastructure.

[2017-01-15 04:18] #304 closed

[2017-01-16 17:15] matthiasr commented on #421
If the calculation becomes a problem, you can add a rule with @SuperQ's query and therefore store the result as a time series. Adding it to the exporter directly means there is no choice, but also that it "just works" without needing to know this trick.

I'm on the fence … @SuperQ ?

[2017-01-16 17:17] SuperQ commented on #421
https://github.com/prometheus/node_exporter/pull/422 is my proposed solution for this.

[2017-01-16 17:44] SuperQ commented on #421
Closing via #422

[2017-01-16 17:44] #421 closed

[2017-01-16 17:50] SuperQ commented on #392
The [release](https://github.com/prometheus/node_exporter/releases/tag/v0.14.0-rc.1) is out.  Please let me know if it helps.

[2017-01-16 22:54] popov-ilya opened #424 "Path to service for collector.runit.servicecdir"
When i tried to run node_exporter as `sudo -u s_srv ./node_exporter -collectors.enabled runit -collector.runit.servicecdir /home/s_srv/service/srv_name -web.listen-address :10100 -log.level debug` i got nothing. In the log there was:
[code]
But if i use symlink to the same service directory for collector.runit.servicecdir flag everything is working just fine.

[2017-01-17 16:21] mdlayher opened #426 "hwmon collector reports an error if /sys/class/hwmon does not exist"
Running `node_exporter` cross-compiled for my Ubiquiti EdgeRouter Lite 3.

[code]

I can submit a patch.

[2017-01-17 16:46] #426 closed

[2017-01-17 21:22] mdlayher opened #428 "Check rules files during CI runs"
We recently had an example `.rules` file committed with a couple errors in it.

Seems like it should be easy enough to do something like:

[code]

... during CI builds.

/cc @grobie @SuperQ

[2017-01-19 08:40] ikeji opened #429 "[FR] Multi directory support of Textfile Collector"
Sometime multiple daemon want to write to textfile collector directory.

In my server, each daemon have own user/group.
Ex, run smartd(check hdd health) as smart/smart
This is common way these days.

To control which daemon can write which prom file by unix permission system,
I want to have multiple directory support for --collector.textfile.directory.

[2017-01-19 08:43] brian-brazil commented on #429
Why not make it group writable or set the stick bit?

[2017-01-19 08:50] ikeji commented on #429
Wow, I forgot about sticky bit.
It will resolve this problem.

Thanks!

[2017-01-19 08:50] #429 closed

[2017-01-19 21:09] allamand opened #430 "Error with hwmon collector"
Launching a prom/node-collector i get this error

[code]
Normally hwmon would be in /sys/class/hwmon not in /proc ?

I just launch node-collecor with

[code]

[2017-01-19 21:25] SuperQ commented on #430
This is fixed in master, but I haven't cut a new release candidate.  (See: https://github.com/prometheus/node_exporter/pull/427)

[2017-01-19 21:25] #430 closed

[2017-01-23 06:54] SuperQ commented on #404
We could also implement this via `/sys/devices/system/cpu/cpu*/cpufreq/cpuinfo_cur_freq`.[0]

[0]: https://www.kernel.org/doc/Documentation/cpu-freq/user-guide.txt

[2017-01-24 08:23] gianrubio commented on #353
same error on v0.14.0-rc.1

[code]

[2017-01-24 09:12] SuperQ commented on #353
@sdurrheimer I was also testing a non-docker armv7 binary which was not being built statically.

[2017-01-24 09:33] gianrubio commented on #358
I just created a simple test to check the image and avoid errors before pushing. I'll submit the PR asap.

## Success
[code]

## Failed (broken image)

[code]

[2017-01-24 12:22] maratkalibek opened #433 "Error in output of node exporter when one device mounted with different mountpoints"
When we are have many mountpoints for one device, eg:
[code]

output contains these error messages:
[code]

[2017-01-24 12:27] sdurrheimer commented on #353
@SuperQ I will take a look this evening.

[2017-01-24 12:52] SuperQ commented on #433
https://github.com/prometheus/node_exporter/pull/434 should fix this.

[2017-01-26 02:15] carpenike commented on #433
I have the same issue with SNMP_Exporter. Should this fix also get rolled into that?

[2017-01-26 08:25] SuperQ commented on #433
No, the fix here has nothing to do with the behavior of the `snmp_exporter`.

[2017-01-27 12:57] ssm opened #437 "mountstats: strconv.ParseInt: parsing "176754428468": value out of range"
Hello,

When using the mountstats collector, it fails with the following output:

[code]

and the following metrics:

[code]

I suspect the ParseInt is restricted to a smaller number.

[2017-01-27 13:29] SuperQ commented on #437
Can you include a sample of the `/proc/self/mountstats` that generated this error?

[2017-01-27 13:49] ssm commented on #437
[code]

[2017-01-27 15:06] SuperQ commented on #437
I plugged the `bytes:	176760153784` value into the latest version and couldn't reproduce the issue.

In the original post, your build information is empty, so I can't confirm what version of the code you're using.    Mountstats is pretty new, and has had a few bug fix updates in the last few weeks.

[2017-01-27 15:14] ssm commented on #437
I did a "go get github.com/prometheus/node_exporter" in a clean virtual machine an hour before posting the bug report, I think that would use the master branch at that time.

--
Stig Sandbeck Mathisen

[2017-01-27 15:16] brian-brazil commented on #437
Are you on a 32bit machine?

[2017-01-27 17:59] mdlayher commented on #437
^ That would be my guess as well.  I just went with `int` for counters out of habit.  Can move to `uint64` if needed.

[2017-01-27 20:18] mdlayher commented on #433
This can be closed now that #434 is merged.

[2017-01-27 20:18] mdlayher opened #438 "collector: two staticcheck issues"
Found using: https://github.com/dominikh/go-tools/tree/master/cmd/staticcheck.

[code]

[2017-01-27 20:19] SuperQ commented on #437
Yea, we should make the procfs library use uint64.

[2017-01-27 20:21] mdlayher opened #440 "Run staticcheck during CI builds"
It's quite a handy tool: https://github.com/dominikh/go-tools/tree/master/cmd/staticcheck.

[2017-01-31 13:53] #438 closed

[2017-01-31 19:45] joehandzik opened #442 "ZFS Collector: invalid metric names"
Apologies for not catching this as the PR went through, but the node_zfs_fm statistics all have dashes instead of underscores in them (why ZFS used dashes in the metric naming for that piece of data only, we may never know). The exporter doesn't complain, but the Status page in Prometheus itself throws an "invalid metric name" error. I'll fix this by converting any dashes to underscores before cre

[2017-02-01 08:30] #442 closed

[2017-02-01 19:19] mdlayher opened #445 "Consider adding wifi to default collectors in 0.14.0"
I believe @brian-brazil had mentioned this in an issue here but I can't find it.

The wifi collector will report nothing if it finds no WiFi interfaces in station mode.  Seems like it could be a nice thing to have enabled by default for those of us running node_exporter on laptops and such. (Okay, maybe I'm in the minority there :) )

[2017-02-02 04:02] grobie commented on #445
SGTM

On Wed, Feb 1, 2017, 14:19 Matt Layher <notifications@github.com> wrote:

[2017-02-02 19:01] joehandzik opened #449 "Desired license boilerplate location"
Just got some feedback from the org that oversees open source contributions at HPE. They requested (as they generally do) that I add this boilerplate to the top of any files that anyone from HPE adds features to (bug fixes don't require it):

(C) Copyright 2017 Hewlett Packard Enterprise Development LP

It doesn't seem like you've had anyone upset the "Prometheus Authors" status quo on any other f

[2017-02-02 22:42] carlbennett opened #452 "Windows Service compatibility"
### Problem

Running `node_exporter-0.13.0.windows-amd64` as a Windows Service causes the following error message when starting the service:

[code]

This appears to be due to the lack of implementation of [`ServiceMain`](http://support.microsoft.com/kb/251192) according to [this](http://stackoverflow.com/a/3582179) Stackoverflow answer.

A quick Google search yielded this documentation on Golang'

[2017-02-02 23:21] brian-brazil commented on #449
Why is this being asked for?

That's not practical, we'd end up with files with tens to hundreds of such lines.

We're likely going to drop author information from that on maintenance grounds, git history is more accurate.

[2017-02-02 23:24] brian-brazil commented on #452
The node exporter is not useful on windows. We recommend the wmi_exporter for that platform.

[2017-02-03 00:07] joehandzik commented on #449
That's a fine answer, I think the requirement is antiquated too given that for commits can trace back to an account (and I always sign off on commits with my email anyway). If the policy is that the commits themselves document that, I can use that policy with our review board to justify not adding the boilerplate. Thanks!

[2017-02-03 00:07] #449 closed

[2017-02-03 21:46] mdlayher opened #453 "Standardizing metric names"
From a conversation with @joehandzik here: https://github.com/prometheus/node_exporter/pull/450#discussion_r99423214

It would definitely be nice to go back and re-evaluate some metric names, but is it possible to do so between releases?  For example, I don't imagine it would be super friendly to rename a metric, because upgrading the node_exporter would result in the need to modify your dashboard

[2017-02-03 21:49] joehandzik commented on #453
@mdlayher Yeah, speaking from just having changed all the arc metric names after the initial ZFS Arc code release and thrashing some test dashboards, converging on a standard across all metrics strikes me as hard to in a friendly way. Maybe there's a way to flag the intention to do this, similar to how some collectors are being deprecated at the moment?

[2017-02-03 21:52] mdlayher commented on #453
@joehandzik The ZFS metrics were added after 0.13.0 right?  And since 0.14.0 isn't out yet, I think it's probably okay to have a bit of instability there.

However, if those metrics existed in 0.13.0 and we changed the names in 0.14.0 (stable), that is definitely a bit unfriendly.

I feel the pain on developing an exporter though and changing metric names a lot. Makes things messy.

[2017-02-03 22:10] joehandzik commented on #453
@mdlayher Yeah, everything went in post-0.13.0. So while it's certainly not hurting anyone (unless some power ZFS user slipped in sometime between 0.13.0 and 0.14.0) all I meant by that is that in my small scale use case, it was painful enough to have test dashboards redirected to new metric names. It'd certainly be worse in a real world use case.

Another thing I thought of but forgot to mention

[2017-02-03 22:18] mdlayher commented on #453
Makes sense.  I'm curious if (in the case of InfiniBand), different vendors would expose different `/proc` files.  If the files are always the same though, it seems like it'd be okay to transform them to Prometheus friendly names.

[2017-02-04 07:44] #445 closed

[2017-02-08 01:04] abhilash07 opened #455 "Bandwidth Metrics"
Hello everyone is any one know about network bandwidth metrics in prometheus or node_exporter

[2017-02-08 08:43] brian-brazil commented on #455
Look at the node_network stats.

[2017-02-08 08:51] abhilash07 commented on #455
Hi brain-brazil thanks for your quick reply, i have searched node_network_stats but there is no metrics with that name. In below uploaded images there are many node_netstat metrics. Can you please which metrics is for Bandwidth in Prometheus (for Eg. node_
![screenshot from 2017-02-08 17-48-38](https://cloud.githubusercontent.com/assets/10971841/22729691/28a4803c-ee27-11e6-9af9-90cb8aa0d417.png)
!

[2017-02-08 09:22] SuperQ commented on #455
Those are all of the metrics Brian suggested.

For example, you can see the 5min rolling average of transmit bytes by interface using this query:
[code]

[2017-02-08 09:22] #455 closed

[2017-02-09 17:36] mdlayher opened #456 "Add XFS collector"
Looks like XFS exposes some metrics in `/sys/fs/xfs/stats/stats` that might be useful.  I'll put them into `procfs` and then use those to make a new collector here.

Feel free to assign me to do this.

[2017-02-10 16:30] mattbostock opened #460 "Expose a metric determining if a disk is spinning or not"
On Linux it's possible to dermine if a disk is spinning using:

[code]

http://unix.stackexchange.com/questions/65595/how-to-know-if-a-disk-is-an-ssd-or-an-hdd/65602#65602

[2017-02-10 16:42] mdlayher commented on #460
Neat. Should be quite easy. I can take a crack at this.

[2017-02-10 17:11] mdlayher commented on #460
Just need to figure out where it should go:
[code]

[2017-02-10 17:27] joehandzik commented on #460
Yeah, I guess I always saw the node_exporter as metric focused, this is more hardware inventory...maybe better as a textfile collector?

[2017-02-10 17:59] mattbostock commented on #460
@joehandzik It's useful to alert on this so that you know if your actual configuration has drifted from the expected configuration (e.g. what if remote hands install the wrong disk type?). This metric is particularly relevant for performance troubleshooting.

[2017-02-10 18:07] mdlayher commented on #460
This feels like something reasonable to include in node_exporter to me. It's just a matter of _where_ it should live.

[2017-02-10 18:08] joehandzik commented on #460
@mattbostock Those use cases make sense to me. We have interest in putting some similar inventory data into the exporter components we're working on, so hopefully pieces of data like this are acceptable. I saw that the megaraid components were moved to the textfile collector concept, but I suppose this does come from core OS components.

I'll take you one step further along this way of thinking th

[2017-02-10 18:10] mdlayher commented on #460
@joehandzik Yeah, was I was spelunking in there I noticed that some of those numbers might be useful too.  Maybe it makes sense to expose a new collector with them. I just don't have any idea what it would be called.  `diskproperties`? I don't know.

[2017-02-10 18:13] mattbostock commented on #460
@joehandzik: I think those are good metrics to have. A new collector might make sense - maybe `sysblockdev` or similar given that these metrics are not likely to be portable to other OSes.

[2017-02-10 18:16] joehandzik commented on #460
@mattbostock I think that's a decent name to start with, personally. Sounds like we all agree that a separate collector would probably be the way to go!

[2017-02-10 18:23] brian-brazil commented on #460
The same can be argued for all inventory/fleet management.

[2017-02-10 18:33] mattbostock commented on #460
That is true.

On Fri, 10 Feb 2017 18:23 Brian Brazil, <notifications@github.com> wrote:

[2017-02-10 18:44] mdlayher commented on #460
So to be clear, @brian-brazil , do you think these values shouldn't be added to a collector? I know there is a precedent for binary "metrics" like `up` to have value `0` or `1`.

[2017-02-10 18:53] brian-brazil commented on #460
I'm against as it's getting into inventory, and this particular metric is also going to be confusing for anything that's not a physical device.

[2017-02-10 19:47] mattbostock commented on #460
@brian-brazil's argument is compelling - this sort of divergence should probably be caught by a tool designed specifically for comparing hardware against a known state (e.g. [netbox](https://github.com/digitalocean/netbox)), which could expose its own metric(s).

I'll close this issue. @joehandzik: You may wish to open a new issue to track the other `/sys/block` metrics you mentioned as they sound

[2017-02-10 19:47] #460 closed

[2017-02-10 20:20] joehandzik commented on #460
@mattbostock I'll take a look and gather more metrics to have a better proposal.

[2017-02-13 06:14] #437 closed

[2017-02-13 11:45] xbblq7n opened #461 "Issues when creating docker image from source code"
Hi,

I am trying to convert the source code of the node exporter in to the docker image. when i try to build it with the
Step1: docker build -t (name) . command, i am getting the below error
**Step 3 : COPY node_exporter /bin/node_exporter
lstat node_exporter: no such file or directory**

Step 2: In order to overcome this issue, i am placing the docker file outside nodeexporter directory.
/root/no

[2017-02-14 14:41] SuperQ opened #462 "Improve ntpd helper script"
From https://github.com/prometheus/node_exporter/pull/423#issuecomment-279712427

@SuperQ thanks for the hint. However, `ntpq -pn` gives you a view of the sync status per sources, it is useful information but not enough to know the "quality" of your NTP server, especially because those sources might change (if you use the NTP pool project for instance.

IMHO, It is better to use `ntpq -c rv` in or

[2017-02-14 14:43] SuperQ commented on #462
@jcberthon Thanks for the helpful information.  We can add this additional information to the existing helper script.

[2017-02-14 15:14] SuperQ commented on #462
Some comments on the metrics so far.

`rootdelay` seems like it's the same thing as `ntpd_delay_milliseconds` where `ntpd_peer_status == 6`. for the same remote.

The other metrics I have no idea what they mean.  But I can continue the research.

[2017-02-14 15:23] SuperQ commented on #462
Hacked together a quick addition to the ntpd helper: https://github.com/prometheus/node_exporter/pull/463

[2017-02-14 15:59] mdlayher opened #464 "Large number of golint issues"
[code]

Full list:

https://gist.github.com/mdlayher/e49520dd73c6a8d21675faa86c353d6d

It would be nice to get these cleaned up. Most are related to just comments and naming of constants and variables.

In my experience, `golint` is accurate enough to be enforced in CI, but I don't know if that is something everyone here is on-board with either. Happy to send a PR to fix some things and also enfor

[2017-02-14 16:33] joehandzik commented on #464
I'll fix the ZFS bits, FWIW. +1 on integrating this into CI if we want to maintain golint compliance.

[2017-02-15 15:59] travisghansen opened #466 "boot_time for freebsd"
It appears most/all the grafana graphs for node_exporter have a server/node selector that uses something like:

[code]

FreeBSD seems to not include the node_boot_time metric rendering the graphs useless (as you can't select a freebsd node) for freebsd nodes.

Thanks!

[2017-02-15 18:37] kinghrothgar opened #467 "Should node_exporter be run as root"
Running as a non root user on CentOS 7 I get these errors:

[code]

Is this expected?  On CentOS 7, /sys/class is mode 700, so hwmon collector definitely requires root. I'm confused on the other ones though as the permissions for the files are 444 and the entire paths are readable. I verified that running as root fixes the errors.

[2017-02-15 18:40] kinghrothgar commented on #467
It's because I'm running a stupid OVH custom kernel.  Closing...

[2017-02-15 18:40] #467 closed

[2017-02-16 07:28] SuperQ commented on #467
You're right, you should be able to run node_exporter without privileges.

I would consider filing a bug with OVH to have them remove silly "security" patches like that.

[2017-02-16 07:49] SuperQ commented on #466
You can use any other metric that does exist.

But it would be good to add this metric for feature parity.  I'm not a freebsd expert, do you know where this data is available?

[2017-02-16 09:08] SuperQ commented on #460
I'm also interested in this implemented as a textfile helper.

[2017-02-16 21:44] travisghansen commented on #466
@SuperQ not really a expert myself, more of a linux guy.  Currently working on getting this packaged up for inclusion/integration with the pfSense firewall project.

https://forums.freebsd.org/threads/8679/

Also in the name of parity, I've noticed several of the datapoints that do cross paths are name differently such as `node_memory_foo` etc  It would be good to see those synced up.

Likewise, w

[2017-02-17 03:06] lizhao0215 commented on #452
where can i download the wmi_exporter?

[2017-02-17 09:30] XiLongZheng opened #469 "s390x images"
I am trying to build node_export docker image on s390x, but I didn't have busybox:uclibc image for s390x, what I had is busybox:glibc, is it OK to use busybox:glibc to replace busybox:uclibc as base image to build node_export docker images?

[2017-02-17 23:18] carlbennett commented on #452
@lizhao0215 https://github.com/martinlindhe/wmi_exporter/releases

[2017-02-17 23:18] #452 closed

[2017-02-20 15:33] k-s-dean opened #471 "Report:Latest Build has issues"
Hi,

When pulling from docker hub i get the following when running the container.

`standard_init_linux.go:178: exec user process caused "no such file or directory"`

Kind Regards

[2017-02-20 15:44] k-s-dean commented on #471
@SuperQ

[2017-02-24 00:19] reverson commented on #339
Will this get pushed to the FreeBSD repos? I just installed from the latest repo for FreeBSD 10 amd64 and I'm still seeing this issue.

[2017-02-24 09:07] JoshuaAndrew commented on #461
docker run -d -p 9100:9100 prom/node-exporter:v0.14.0-rc.1
617a97b0332db716c79c43586eedf174e9a53c34399db21ab050324e5cea0b41
docker: Error response from daemon: Container command '/bin/node_exporter' not found or does not exist

Anyone help me?

[2017-02-25 07:38] SuperQ commented on #471
Duplicate of https://github.com/prometheus/node_exporter/issues/461

[2017-02-25 07:38] #471 closed

[2017-02-25 07:38] SuperQ commented on #461
@sdurrheimer We're still having issues with docker builds :(

[2017-02-25 13:36] sdurrheimer commented on #461
@SuperQ The problem is that we are not able to compile node_exporter statically for linux/amd64 anymore.

[code]

[2017-02-25 23:08] xens opened #473 "S.M.A.R.T monitoring"
I would like to be able to extract smart metrics from my HDDs mainly to detect failures. I'm motivated to create a new Linux collector for that purpose, the issue is that the only way to extract these info is to run the smartctl utility as root and then parse its output, which is not great.

So in order to allow the node_exporter to run this particular command as root means to have previously conf

[2017-02-26 00:44] mdlayher commented on #473
I believe the recommended way to do this at the moment is to use a combination of `smartctl` with the textfile collector.  I do have some (experimental) code that pulls SMART metrics from drives using pure Go, but it also requires root.

With either option, it seems like the textfile collector is the recommended option.

[2017-02-26 08:52] SuperQ commented on #473
Because of policy, the node_exporter is not allowed to spawn any processes (there are some deprecated collectors that do, they will be removed soon).

We have implemented a textfile helper script included in this repo to provide SMART stats.

https://github.com/prometheus/node_exporter/blob/master/text_collector_examples/smartmon.sh

[2017-02-26 08:52] #473 closed

[2017-02-26 10:51] discordianfish commented on #464
@mdlayher I'm up for enforcing golint in CI, unless that means I have to fix all issues myself :D. But after that, yes let's add some linting. Would actually go as far with linting as we can.. was wondering if it's possible to enforce other nitpicks too, like ordering of global vars / struct / contructor / functions etc.

[2017-02-26 10:52] discordianfish commented on #339
@reverson You still see the issues with the 0.14-rc1 release? https://github.com/prometheus/node_exporter/releases/tag/v0.14.0-rc.1
The final 0.14.0 isn't released yet. See #441 for status on the next rc.

[2017-02-26 16:23] reverson commented on #339
Ah, I have not tried 0.14-rc1 as I was just using the version from the
FreeBSD official repo (on pfsense). I'll wait for 0.14.0 to be released.

Thanks @discordianfish

On Sun, Feb 26, 2017 at 2:52 AM discordianfish <notifications@github.com>
wrote:

[2017-02-27 00:16] braedon opened #474 "Filesystems mounted while node exporter is running are not detected"
Metrics did not show up for a new filesystem when I mounted it (waited for over an hour before investigating further). After restarting node-exporter, it appears fine.

My mount point and filesystem type ignore rules, in case there's something weird going on there:

    -collector.filesystem.ignored-mount-points ^/($|(rootfs/)?(sys|proc|dev|host|etc|var/lib/docker/devicemapper|var/lib/kubelet/pods

[2017-02-27 00:48] brian-brazil commented on #474
Are you by any chance running under docker and bind mounting mtab?

[2017-02-27 00:52] braedon commented on #474
Yes, running in docker. Mounting host `/` as `/rootfs`, based off https://github.com/prometheus/node_exporter#using-docker

[2017-02-28 12:10] cristifalcas opened #475 "node_exporter gets stuck if share mounts are stuck"
We encounter cases when nfs/samba shares get stuck and there is no possibility to unmount them (only a reboot fixes this).

In this case, node_exporter filesystem collector is getting stuck also and only partial statistics are served.

Maybe you could timeout long running collectors?

[2017-02-28 13:17] bs-github opened #476 "end-to-end tests fail on OS X"
The end to end tests are executed regardless of the system the node_exporter is compiled on.

I think they are only going to succeed on Linux the way they are designed yet.
I don't think that's a problem, but a simple make call should succeed on other OSes as well.

[code]

[2017-02-28 13:45] grobie commented on #476
What happens if you remove `-collector.wifi="collector/fixtures/wifi" \` from the end-to-end-tests.sh file? Do they pass?

[2017-02-28 13:48] #326 closed

[2017-02-28 14:03] grobie commented on #475
Duplicate of #244.

[2017-02-28 14:03] #475 closed

[2017-02-28 14:08] bs-github commented on #476
removing wifi leads to
[code]
removing conntrack leads to
[code]
removing diskstats leads to
[code]
removing drbd leads to
[code]
removing edac leads to
[code]
removing entropy leads to
[code]
removing filefd leads to
[code]
removing hwmon leads to
[code]

and so it goes on...

do you think we should disable every single collector for the end to end test?

This is what works out of the box:
[code]

[2017-02-28 14:13] grobie commented on #476
Well, that's not worth it I guess. We execute the end-to-end tests in CI / Travis under linux anyway, so probably not a big deal to just completely disable them on non-linux systems for now.

[2017-02-28 14:16] bs-github commented on #476
And with all the not working collectors removed:
[code]
there comes the diff https://github.com/prometheus/node_exporter/blob/master/end-to-end-test.sh#L126-L128 that won't work with all them disabled.

[2017-02-28 14:24] #476 closed

[2017-02-28 14:39] grobie opened #478 "Improve end-to-end tests"
The end-to-end tests currently only work under Linux, but we should also test all other collectors for other OSes. Instead of comparing the output to one single golden template, each collector probably needs their own file.

Rewriting the end-to-end tests to Go will probably make things easier.

[2017-02-28 14:40] grobie commented on #476
We need to improve our end-to-end test framework. See #478.

[2017-02-28 16:04] mdlayher commented on #478
I'd be happy to help out with that project.

Something I've adopted on my own (that may or may not be ideal), is a test function that grabs the byte slice output from a collector using a net/http/httptest server: https://github.com/mdlayher/rtorrent_exporter/blob/master/rtorrentexporter_test.go#L12.

From there, you can explicitly search for sub-slices using `bytes` or `regexp` as needed.

At the

[2017-02-28 17:20] #464 closed

[2017-03-01 14:39] derekmarcotte commented on #466
Hi - just wanted to add to this thread.  A PR was just [merged](https://github.com/prometheus/node_exporter/commit/bdc213133294f5462bd7a1b1daf91c5ebbf82110) wrt BSD memory counters.

The kernel boot time is in a sysctl.  I was going to include this the exec collector that was just [merged](https://github.com/prometheus/node_exporter/commit/5c28ab044d88b51a653ae1bf8d6c30f58a32b7c2), but it's in a t

[2017-03-01 15:17] hryamzik opened #485 "Error when metric is presented in two different prom files"
[code]

To reproduce just clone any `prom` and change labels in a new file.

[2017-03-01 19:06] cumulus-drew opened #486 "wifi collector leaks netlink sockets"
The host in question is running 0.14.0-rc.1-nightly20170301-040624 from the RP apt repo on Debian wheezy.

Every scrape results in one extra file descriptor left open, which lsof identifies as a netlink socket. Eventually the node_exporter process hits the file descriptor max and is unable to do anything beyond reporting its internal statistics (this takes a bit over 4 hours at a 15 second scrape

[2017-03-01 21:35] mdlayher commented on #486
On it, since this is my code.

[2017-03-01 21:51] grobie commented on #486
Thank you for this excellent bug report @cumulus-drew!

I'll look into writing an acceptance test catching fd leaks.

[2017-03-01 22:20] #486 closed

[2017-03-02 06:17] travisghansen commented on #466
Wow that looks like some great stuff!  I'm not at my desk currently to review naming parity but I'll review and provide feedback as soon as I can.

Looking forward to the boot time metric as well to make these dashboards work out the box.

Thanks!

[2017-03-02 06:25] travisghansen commented on #466
I see now there is already a `uname_linux` file WRT my earlier comment.  Not sure how easy that one would be to replicate on BSD.

[2017-03-02 06:52] travisghansen commented on #210
+1

[2017-03-02 21:25] mdlayher opened #489 "1.0 TODO List"
Feel free to edit this and add more points.  Filing per @SuperQ 's request.  This can probably be turned into a GitHub milestone at some point too.

- [x] remove all deprecated collectors (https://github.com/prometheus/node_exporter/issues/101, https://github.com/prometheus/node_exporter/issues/212)
- [x] fix the naming scheme of the collectors where we decide the names rather than creating them m

[2017-03-02 21:26] brian-brazil commented on #489
Fix the naming scheme of the collectors where we decide the names rather than creating them mechanically (e.g. node_cpu should be node_cpu_seconds_total). This would be a major breaking change.

[2017-03-03 06:34] kehao95 opened #490 "More detailed document?"
Sorry for the silly question.
I am zero to Golang, and met a trouble while trying to build the node_exporter.
I got this error message using `make` on a fresh engine installed golang.
[code]
it seems that the node_exporter is not stand alone program. And it needs the Prometheus to be installed before it can be compiled.
So I don't quite get it when and how can I use it. Especially when I want to u

[2017-03-03 07:32] SuperQ commented on #490
It looks like you have a mis-match between the GOROOT and GOPATH, which is where your build problems are coming from.  The Prometheus requirement problem is the use of our common libraries, not the Prometheus server itself.  These are vendored in the node_exporter source, so you shouldn't have any issues there.

If you are new to Go build requirements, I recommend our pre-built binaries available

[2017-03-03 07:45] kehao95 commented on #490
Thank you! You solved my problem. I am using your pre-built binaries now. Thank again for your reply.

[2017-03-03 08:09] #490 closed

[2017-03-03 10:33] discordianfish commented on #489
Fortunately we're pre 1.0 :). But yeah, we need some graceful way to deprecate these. Maybe some legacy flag which makes the node-exporter expose both for some time? Or just provide recording rules or relabling?

[2017-03-03 10:49] brian-brazil commented on #489
For such a large change I don't think a graceful approach is practical. We can update the console/grafana templates to work with both.

[2017-03-04 11:41] fabianlaule opened #493 "Export metrics for available system updates (from package managers)"
Coming from monitoring systems like Nagios or Sensu, the possibility to monitor the available normal and security updates from the package managers for a host/node would be really great if it can also be monitored with prometheus.

Unfortunately, I din't find any implementation of a exporter which gathers these metrics.

So does it make sense to add this as a new metric to this node_exporter or sh

[2017-03-04 11:44] brian-brazil commented on #493
This doesn't make sense as part of the node exporter, as it varies a lot across distros and is likely also something that is not a fast command to run. The textfile collector is suggested.

[2017-03-04 11:47] fabianlaule commented on #493
okay thanks! Then I'll try to collect the metrics with the textfile collector :)

[2017-03-04 11:47] #493 closed

[2017-03-04 14:50] SuperQ commented on #493
@fabianlaule Which distribution(s) are you using?  It would be great to have example scripts contributed to our textfile collector section [here](https://github.com/prometheus/node_exporter/tree/master/text_collector_examples)

[2017-03-04 15:55] #440 closed

[2017-03-04 19:36] mdlayher opened #494 "Add acceptance tests that check for file descriptor leaks"
A leak was recently discovered in the Wi-Fi collector due to not properly cleaning up netlink sockets. This issue has since been fixed, but it would be a good idea, as @grobie mentioned, to write tests that ensure that file descriptors do not leak between subsequent scrapes.

Perhaps this could be done by setting up a test, checking the number of open descriptors, performing many scrapes, and fina

[2017-03-05 20:34] fabianlaule commented on #493
@SuperQ Currently I'm using Debian and CentOS. I'll try something the next two weeks and if it works I'll contribute the scripts to the repo :)

[2017-03-06 14:39] mattbostock opened #497 "Interrupt metrics have very high cardinality"
The metrics generated by the 'interrupts' collector have very high cardinality. The labels on Linux include:

- CPU number
- interrupt type
- device
- info

We have machines with 32 virtual CPUs, and on these machines the interrupt metrics can account for ~3,900 metrics out of a total of 7,500 from the Node Exporter per machine. If you multiply that by ~250 machines in given datacentre, the Promet

[2017-03-06 14:43] mattbostock commented on #497
Some additional information to put this into context, here's the number of metrics (broken down by `__name__`) for an example machine:

[code]

[2017-03-06 15:15] SuperQ commented on #497
Like some of the other collectors, it's probably worth adding an ignore list regexp to allow users to filter the collection on the node_exporter side.

Can you post a sample of the rows you see in `/proc/interrupts`.

This is one of those cases where having URL params to specify which collectors you want on any given scrape would be handy.  You could have a separate Prometheus server for monitorin

[2017-03-06 16:52] mattbostock commented on #497
Sure:

[code]

[2017-03-06 17:14] SuperQ commented on #497
It's a slight violation of Prometheus exporter standards, but we could add a flag to ignore `0` records in interrupts.

@grobie what do you think?

[2017-03-06 19:22] brian-brazil commented on #497
Interrupts wasn't meant to be enabled by default, this must have regressed at some point.

[2017-03-06 19:23] SuperQ commented on #497
@brian-brazil `interrupts` is disabled by default, this has not changed.

[2017-03-06 19:26] brian-brazil commented on #497
Okay, I'm not sure there's anything to do here then. If a user has manually enabled a high-cardinality module that's up to them. The total number of interrupts comes from the stat module.

[2017-03-06 20:51] ibotty opened #498 "provide packages and repository for CentOS/RHEL"
It would be great to have yum repository to install node_exporter from. That would also include a systemd unit to automatically start it. Any objections? If not, I can write some Makefile magic to build rpms.

[2017-03-06 20:58] joehandzik commented on #498
I read at some point a while back that the Debian packaging was initiated by someone in the community, so I would expect that a yum repo or rpm packaging would be acceptable. Not sure if they'd accept it upstream here or if you'd need to maintain a separate repo, so maybe @SuperQ can give us an answer on that detail.

Either way, at HPE we'll need RPMs for some users at some point too. If you beat

[2017-03-06 21:00] joehandzik commented on #498
Debian package link, FYI: https://packages.debian.org/search?keywords=prometheus

[2017-03-06 21:08] ibotty commented on #498
I don't need prometheus on the host directly. It is running containerized, pretty happily.

[2017-03-06 21:09] joehandzik commented on #498
@ibotty Fair enough! We'll be on our own there then.

[2017-03-06 21:24] SuperQ commented on #498
We've talked about distribution packaging for Prometheus projects for a while.  We have packages in upstream Debian now, but of course we release a lot faster than Debian does.

Having something that's part of our CI pipeline that uploads to packagecloud or a similar service would be great.

[2017-03-07 16:11] grobie commented on #498
I'm happy to provide hooks to trigger packaging pipelines automatically, but I'm not sure we should build packages as part of our own pipelines nor have the code in all our repositories.

[2017-03-07 16:19] brian-brazil commented on #498
I'd also be very cautious of add this as an official Prometheus thing. I forsee a lot of maintenance and support work being involved.

[2017-03-07 16:31] slivne opened #500 "errors on gce instances "error parsing mdstat: too few matches found in statusline ...""
node_exporter, version 0.12.0 (branch: master, revision: df8dcd2)
  build user:       root@ff68505a5469
  build date:       20160505-22:14:18
  go version:       go1.6.2

using gce instances with nvme storage we are getting the following:
[code]

[code]

[2017-03-07 16:53] grobie commented on #500
Please update your node_exporter version, yours is quite old. I'm pretty
sure raid0 parsing has been fixed in 0.13.0

On Mar 7, 2017 13:31, "Shlomi Livne" <notifications@github.com> wrote:

[2017-03-08 22:51] zhjchen opened #502 "miss the newly add disk filesystem"
node exporter does not return filesystem metrics for new added disk.
have to restart the node exporter, then the new added disk filesystem stats/metrics can be collected.

By checking the code, every time, it reads from _os.Open(procFilePath("mounts"))_ to get the mount points. The new add disk is in the mounts file, But node exporter seems ignore it...

[2017-03-08 23:03] grobie commented on #502
Any chance you run the node_exporter in a Docker container and mounted the
host filesystem in it?

On Wed, Mar 8, 2017, 19:51 zhengjun chen <notifications@github.com> wrote:

[2017-03-08 23:12] zhjchen commented on #502
Oh, right, It is running in docker container.

[2017-03-08 23:20] grobie commented on #502
Please be advised that we don't recommend running the node_exporter in
Docker. I'm not sure there is a workaround for that problem.

On Wed, Mar 8, 2017, 20:13 zhengjun chen <notifications@github.com> wrote:

[2017-03-09 08:46] SuperQ opened #503 "Change docker package name"
In order to reduce confusion, we should change the docker package name.

Proposal: `do-not-run-node_exporter-in-docker`

:smiley:

[2017-03-09 08:48] sharkaz opened #504 "node_exporter running as docker container missed some collectors"
When I tried to use flag -collectors.enabled 'nfs' , I got this error message

[code]

Can these collectors be enabled in container? thanks!

[2017-03-09 11:01] grobie commented on #504
What version of the node_exporter do you use. The nfs collector is in the unreleased v0.14.0.

[2017-03-09 11:25] matthiasr commented on #503
… except that's not always an option. @fabxc @brancz we spoke about this a while ago, could you contribute the CoreOS recommendation for getting the best out of node exporter in containers?

[2017-03-09 11:59] grobie commented on #503
Is it possible to "live" mount a host directory? If not, what
recommendations do you expect here?

On Thu, Mar 9, 2017, 08:25 Matthias Rampke <notifications@github.com> wrote:

[2017-03-09 12:03] grobie commented on #503
I wouldn't rename the docker image btw., but I want to improve the readme
and list the issues more explicitly.

On Thu, Mar 9, 2017, 08:59 Tobias Schmidt <tobidt@gmail.com> wrote:

[2017-03-09 13:51] brancz commented on #503
To be honest we haven't looked into it much further than last time. We run the node exporter as a privileged `DaemonSet` on Kubernetes: https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/exporters/node-exporter-daemonset.yaml

Not sure what that exactly translates to when using on bare docker, but we run it on the host network namespace and host pid namespa

[2017-03-09 18:28] ibotty commented on #498
I build a copr yum repo at https://copr.fedorainfracloud.org/coprs/ibotty/prometheus-exporters/

I should add some documentation, but it works for me.

Is there a place to advertise it, as part of the readme maybe?

[2017-03-09 18:43] grobie commented on #498
I'm open to that as long as it's clear that such packages are offered by
individuals / the community and issues shouldn't be discussed in this repo.

On Thu, Mar 9, 2017, 15:28 Tobias Florek <notifications@github.com> wrote:

[2017-03-09 18:43] ibotty commented on #498
Oh, it's not autotomized yet. There is some work to be done on copr side for that to work. It has all the infos from you though. No hooks needed.

[2017-03-10 06:31] JeromeVi opened #506 "[Question] is it a method to export the data using HTTPS ?"
Hi,
I'm using node_exporter and I was wondering if we can export the data using HTTPS because if I'm right it use HTTP by default.

Thank you for your answer

[2017-03-10 08:55] SuperQ commented on #506
The `node_exporter` does not currently support TLS directly.

[2017-03-10 09:14] JeromeVi commented on #506
@SuperQ so we can use a tool to support TLS ? (or how can I secure the data export)

[2017-03-10 09:17] SuperQ commented on #506
You will need to use a https reverse proxy, like nginx, caddy server, etc.

[2017-03-10 09:38] JeromeVi commented on #506
@SuperQ Ok I see, thank you for your answer !

[2017-03-10 09:38] #506 closed

[2017-03-10 23:18] travisghansen commented on #466
OK, I reviewed the names of them (can't really speak to the values per-se) and here is what I've found:
[code]

Thanks!

[2017-03-11 03:30] klausenbusk opened #508 "WIFI should expose SSID as label"
It could be really useful if the WIFI collector could expose the SSID as a label, then I wouldn't need to log into the box or use some other system to pull the SSID for basic debugging.

@mdlayher

[2017-03-11 03:33] mdlayher commented on #508
Works for me, though I'm curious if this might "explode the cardinality" for devices that roam between networks.

I'd be happy to submit this PR but I'd like to hear thoughts from the maintainers on the idea.

[2017-03-13 00:06] juliusv commented on #466
Here's some background on why it's difficult to sync up names between metrics for different OSes: https://github.com/prometheus/node_exporter/issues/150

[2017-03-13 02:55] travisghansen commented on #466
Yeah I read through that a while back. I understand the technical issues at hand.

I'm not really in a position to say but feel the only path forward is to unify.  The problem is mostly unique to this exporter as most are not interacting with underlying os.  The work is worth it.

[2017-03-13 09:19] matthiasr opened #509 "v0.14.0-rc2 breaks previously-working textfile metrics"
We had metrics like

[code]

(both repeated for 4 disks total)

from a script that parses `smartctl` output. The duplication is caused by devices being represented multiple times via the RAID controller.

With 0.14.0-rc2, we now get this error on the metrics endpoint:

[code]

I suspect this is a side effect of the vendoring update #372 bringing in stricter checks from `client_golang`.

The check

[2017-03-13 11:10] beorn7 commented on #509
As per personal discussion with @matthiasr :

The updated version of client_golang vendored with this node_exporter release does indeed improve consistency checking (as documented in the release notes of client_golang). The library always aimed for never creating inconsistent scrapes. It's one step closer to that goal now. It also allows more flexible configuration of how to deal with errors, see

[2017-03-13 16:05] prasenforu opened #510 "Requesting filesystem metrics for unmounted filesystems"
We have two devices (xvda2 & xvdf1).
Xvda2 is root fs but xvdf1 is docker volume but not mounted.

Getting metric for xvda2 (root)

But no metrics for xvdf1

[2017-03-13 16:27] grobie commented on #508
Can you give some examples for best/worst case of time series increase?
Would it help to expose the ssid as separate metric?

On Sat, Mar 11, 2017, 00:33 Matt Layher <notifications@github.com> wrote:

[2017-03-13 17:32] mdlayher commented on #508
The WiFi collector currently exposes 9 metrics. More could potentially be exposed in the future.  Perhaps some metrics would be AP-specific, just as there are station-specific metrics now.

Best case: client never leaves a WiFi network.  Maybe a server or IoT device with a wireless interface. Same number of metrics there are now.

Worst case: client frequently roams between networks.  Perhaps a la

[2017-03-13 17:39] SuperQ commented on #508
Exposing connected SSID (and BSSID) should very much be done like `node_uname_info`.  There may be some churn, but I don't think it will be that bad.  But it would be highly useful for correlating problems with clients and specific APs.

[2017-03-13 17:48] mdlayher commented on #508
@klausenbusk it would appear that exposing a metric like:

[code]

... or similar would meet your use case, and @SuperQ agrees with this approach as well.  What do you think? If everyone's happy, I can implement this pretty quickly.

[2017-03-13 18:01] SuperQ commented on #508
This should also include the `device` label so we know which device is related.

We may want to make this a little more general at the same time, and include the mode, `client`, `master`, `ad-hoc`.

[code]

[2017-03-13 18:04] mdlayher opened #511 "Create an issue template to assist in filing bug reports"
The template should include information such as:
- host operating system
- node_exporter version (or if compiling yourself, Go version and commit)
- are you running `node_exporter` in docker?

/cc @SuperQ

[2017-03-13 18:05] SuperQ commented on #511
👍

Maybe put `are you running in docker` at the top, and link to the README.md with common issues.

[2017-03-13 18:07] mdlayher commented on #508
Yep, you're totally right. I was just spitballing.

[2017-03-13 18:23] grobie commented on #510
Sounds like feature request. Please list the metrics and collectors you
wish to see for unmounted devices.

On Mon, Mar 13, 2017, 13:05 prasenforu <notifications@github.com> wrote:

[2017-03-13 19:16] #511 closed

[2017-03-13 19:26] klausenbusk commented on #508
It could work I think.
What I want to get in the end, is a Grafana dashboard for our "custom supporter" which shows WIFI stretch, SSID and so on, for basic troubleshooting.
With a label for every metric, that would be easy to create in Grafana, as I could just create a "graph", and the supporter can then easy see that the box was connected to access-point Foobar from X to X, and then switched to a

[2017-03-13 19:53] mdlayher commented on #508
Sounds good. I'll take a stab at this now.

[2017-03-13 20:24] mdlayher commented on #508
Implemented in #513 .

[2017-03-13 22:09] prasenforu commented on #510
Oh!!
I thought it discover all attached devices.

Anyway wants similar like root.

Thanks in advance.

[2017-03-14 03:33] grobie commented on #510
It really depends on the kind of metrics and where they are coming from.
What's your configured value of -collector.diskstats.ignored-devices?
Please note that we ignore xvdf* devices by default, you'll need to change
the regexp.

On Mon, Mar 13, 2017 at 7:09 PM prasenforu <notifications@github.com> wrote:

[2017-03-14 03:58] prasenforu commented on #510
As I told we have two devices.

Basically I want two disk utilization in grafana.

I am able for root not for other.

[2017-03-14 06:25] SuperQ commented on #510
If you're asking about IO utilization or free space?  Those come from different modules.

Are you running the node_exporter in docker?  This is not recommended.

[2017-03-14 06:40] prasenforu commented on #510
No, node exporter for kubernetes.

[2017-03-15 02:49] sharkaz commented on #504
@grobie thanks for you reply!
Yes, I am using v0.13.0 right now. If I use v0.14.0, do I need to give the container privilege mode?

[2017-03-15 08:09] #509 closed

[2017-03-16 11:53] brian-brazil opened #515 "Whitelist netstat metrics to be returned"
There are currently over 200 netstat time series returned, which is a good chunk of the total default of time series of this exporter. Most of these are not useful outside of esoteric debugging situations.

I propose we whitelist this down to a more reasonable number by default, say <50. This would be a regex in a flag.

The main challenge here is determining which to include by default. Probably

[2017-03-16 16:42] grobie opened #517 "Release v0.14.0"
@SuperQ What's your plan here? I think >3 months for release candidates is way too long. In that time frame we've added several more changes without a feature freeze, etc. I think we should release more frequently instead.

[2017-03-16 17:13] SuperQ commented on #517
Yes, we should very much do more frequent releases.  I was trying to get 0.14 cut by FOSDEM, but have been very much sidetracked.

I was waiting to hear back from @matthiasr and @rtreffer with the results of their testing of the latest RC.

[2017-03-16 18:22] rtreffer commented on #517
We are running 0.14 in production for a two days now. We wanted & needed EDAC due to an incident on the weekend and everything else looks good! (except for a new memory alert that reveals broken nodes).

Am 16. März 2017 18:13:35 MEZ schrieb Ben Kochie <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-03-16 20:51] mdlayher opened #518 "Unexport all WiFi collector metrics"
As @juliusv pointed out, there is no real reason to have them exported.  Might as well unexport them to clean up the public API a bit.

Please assign to me.

[2017-03-16 21:06] #508 closed

[2017-03-16 21:15] mdlayher commented on #508
@klausenbusk let me know how this works for you!

[2017-03-16 21:21] #518 closed

[2017-03-17 02:31] grobie commented on #510
@prasenforu If you run node_exporter in Kubernetes, you either use Docker or rkt and it's not recommended to run the node_exporter inside of a container. Please note that the node_exporter is supposed to run on the host system and not inside of any container or VM.

Anyway, I don't think this is the problem here. It seems you're interested in filesystem metrics and not disk metrics and the filesys

[2017-03-17 04:18] prasenforu commented on #510
Not sure I am able to communicate properly.

Let me explain the environment.

We have kubernetes cluster with 4 nodes.

Running node-exporter as a daemon set. That means running  node-exporter  in VMs as a pod not inside container, so it will collect metrics from host.

In each host I have two physical  devices.

xvda2   -- mounted as root fs
xvdf1    -- not mounted but used as docker-vg

I am abl

[2017-03-18 12:10] mattbostock commented on #244
I'm strongly in favour of setting a timeout for collectors.

We're using the `up` metric for the Node Exporter as a canary for checking that hosts are up (replacing the Nagios' active checks that use ICMP ping), and we're seeing false positives because the Node Exporter occasionally stops responding to HTTP requests (even on `/`, which is odd).

When the Node Exporter starts responding to requests

[2017-03-18 12:36] SuperQ commented on #244
@mattbostock I think a timeout in general is ok, but we can't always do something about the timeouts, as things are getting stuck on IO.  Out of curiosity, what version of `node_exporter` are you seeing issues?

[2017-03-18 16:43] grobie commented on #510
@prasenforu Again, the syscall being used only returns stats for mounted filesystems. You should just mount xvdf1.

[2017-03-19 02:01] prasenforu commented on #510
Thanks for continuous discussion.

Problem is that I can not mount xvdf1 device because that device we are using as raw and still I want utilisation report of that device.

Is there any other alternative solutions.

I notice you mentioned in earlier conversation that xvdf is excluded some reason.

May be it could be future enhancement.

But wondering how I am getting root device (xvda2) utilisatio

[2017-03-19 02:34] brian-brazil commented on #510
What you're requesting is not possible, we can't know the utilisation of a raw device as a raw device is merely an array of bytes.

This is something better gathered from whatever is using this device.

[2017-03-21 15:34] it-praktyk commented on #498
@ibotty, did you try build the package the golang-github-prometheus-node_exporter for CentOS 6 x64 too?

Thank you.

[2017-03-21 16:40] it-praktyk commented on #498
OK, I answer myself.

I compilled node_exporter based on the spec file from @ibotty repository using
- CentOS 6.8 x64 - I used [Vagrant box](https://atlas.hashicorp.com/centos/boxes/6)
- additional packages what I installed

[code]
In that moment I need comment some lines related to systemd and service start - but I think that it can be resolved too. I'll try do it soon.

[2017-03-21 17:02] ibotty commented on #498
Oh, I just did not have any need. I'd gladly accept a pull request! I might even have time to do that myself, no ETA though.

[2017-03-21 17:39] ibotty commented on #498
On topic: would you accept a pull request adding a systemd unit and a sysconfig file? Where should that reside? I would also add a target to the Makefile that puts it into place.

[2017-03-21 18:35] SuperQ commented on #498
Sure, how about a `packaging` directory.  @discordianfish Any better ideas?

[2017-03-21 20:17] mdlayher commented on #517
This can be closed: https://github.com/prometheus/node_exporter/releases/tag/v0.14.0.

[2017-03-21 20:21] #517 closed

[2017-03-21 22:18] rtreffer opened #527 "node_filesystem_device_errors_total leaks labels on high mountpoint churn systems"
### Host operating system: output of `uname -a`

Multiple systems, `Linux (fqdn) 4.4.21+soundcloud #4 SMP Wed Dec 14 15:14:59 UTC 2016 x86_64 GNU/Linux`

### node_exporter version: output of `node_exporter -version`

[code]
(from github releases)

### Are you running node_exporter in Docker?

No.

### What did you do that produced an error?

Run node_exporter on a node with heavy docker container

[2017-03-21 23:24] grobie commented on #527
Yeah, for whatever reason, `node_filesystem_device_errors_total` doesn't use const metrics, but the direct instrumentation approach: https://github.com/prometheus/node_exporter/blob/master/collector/filesystem_linux.go#L53 This needs to be rewritten.

[2017-03-22 00:27] discordianfish commented on #498
What about examples/? I'd rather not install it in the Makefile though. We can't provide much support for this so I think considering it an example that users might have to customize makes most sense.

[2017-03-22 07:03] SuperQ commented on #527
The metric in question is counting `syscall.Statfs` call errors, not passing a filesystem error counter back.  It's not going to work to make it a Const metric.

We could change this to count `syscall.Statfs` errors globally to avoid label explosions on systems with high filesystem mount churn.

But I think in this case, you're going to have label churn anyway. @rtreffer you may want to consider i

[2017-03-22 07:17] zuozc opened #528 "Flag -collector.textfile.directory is in conflict with flag -collectors.enabled"
Seems flag `-collector.textfile.directory` is in conflict with flag `-collectors.enabled`. Here is what I try and get:

I set `-collector.textfile.directory` to directory `/var/lib/node_exporter/textfile_collector` and will create a `prom` file named `gpfs_mount_time.prom` there and then my script will write metric `gpfs_mount_time` records into it. So if things go smoothly, I will get the metric

[2017-03-22 07:42] zuozc commented on #528
I downloaded the newest version of [node_exporter](https://github.com/prometheus/node_exporter/releases/download/v0.14.0/node_exporter-0.14.0.linux-amd64.tar.gz) and repeated the test above with the newest binary `node_exporter` and got the same result.

[code]

[2017-03-22 09:08] brian-brazil commented on #528
Usage questions are best asked at https://groups.google.com/forum/#!aboutgroup/prometheus-users

[2017-03-22 09:08] #528 closed

[2017-03-22 10:50] grobie commented on #527
I'm not sure I understand your suggestion. Sure, you'll need to change the code structure a little bit, but that's not really a problem? All collectors have to be stateless to avoid exactly this kind of problem, therefore the metric needs to use const metrics.

[2017-03-22 11:01] SuperQ commented on #527
Yes, totally, but this isn't coming from the OS.  This is an internal exporter metric, which keeps state of exporter problems.

[2017-03-22 11:03] SuperQ commented on #527
One way we could refactor this is to make this return a scrape error boolean, instead of incrementing a counter.

[2017-03-22 16:18] grobie commented on #527
I understand now the issue with the counters. It was too early this morning
;-) Suggestion:

1. Change device_errors_total counter to a device_error gauge (values 1/0)
2. Just add the dev error to the usual struct we're returning
3. Use a const metric for dev errors in the common file
4. Either return NaN for all other metrics or continue to omit them as we
do currently for statf/device errors.

I

[2017-03-22 16:34] brian-brazil commented on #527
NaN should only be used where it makes mathematical sense to produce a NaN.

Omitting is better.

[2017-03-22 17:12] grobie commented on #527
I assumed staleness issues are worse, but works as well for me.

On Wed, Mar 22, 2017, 13:34 Brian Brazil <notifications@github.com> wrote:

[2017-03-22 21:14] sdurrheimer commented on #461
Fixed by #472

[2017-03-22 21:14] #461 closed

[2017-03-23 08:37] borsden commented on #485
I found solution. This error rise in registy.ro. If tries to found HELP comment for metric, and if does not find, use file name. But for equal metric in different files help text will be different. So, you can add equal HELP comment line for every metric.
For example:

`# HELP mymetric mymetric_help_text
mymetric{source="source",target="target"} 1 1490257498360`

`# HELP mymetric mymetric_help_tex

[2017-03-23 10:39] discordianfish commented on #527
I've not made it a const metrics because it's an error about the collector. I forgot that it still 'leaks' the labels. Sorry about that.

[2017-03-23 10:39] #527 closed

[2017-03-23 11:09] hryamzik commented on #485
Thanks @borsden, good point!

[2017-03-23 11:35] SuperQ commented on #527
@discordianfish I think it's worth keeping an error counter around, but as a global counter so we don't leak.

[2017-03-23 16:08] prasenforu commented on #510
I tried node exporter on vm not in a container.

But not able to find any devices other than xvda2.

Is ther any way to capure utilisation for volume group?

[2017-03-24 10:46] discordianfish commented on #527
@SuperQ Agreed, that was the original intention. Feel free to add one back, should be straight forward. Or I'll do it next week.

[2017-03-24 16:37] Cellophan opened #535 "Add neighbor stats"
Need:
The node_exporter doesn't provide statistics about neighbors (the ip neighbor's way): numbers, table overload, garbade collections, limts,...

More info:
The neighbors can be found via `ip neigh show`. The raw data is in `/proc/net/stat/arp_cache` and `/proc/net/stat/ndisc_cache` (based on [that](https://wiki.linuxfoundation.org/networking/neighboring_subsystem) see "struct neigh_table").

U

[2017-03-24 19:15] wtip opened #536 "add overall-health check metric to smartmon.sh textfile collector"
It would be useful if the smartmon.sh textfile collector had a metric to report the overall health status of a drive as reported by the following smartctl output:

[code]
or on drives that are behind a RAID controller
[code]

Since smartctl does not report this as a number what would be the preferred way of reporting this status?

Here's an example of this practice [https://github.com/Shopify/gene

[2017-03-24 19:28] SuperQ commented on #536
The usual way is to use a bool value of 0 for false, 1 for true.

[2017-03-26 23:27] it-praktyk opened #537 "Add support for a hierarchical configuration for Prometheus Node Expo"
My feature request is to add a hierarchical configuration for Prometheus Node Exporter - eg. via [viper](https://github.com/spf13/viper).

The currently all option what are used by node_exporter need to be provided via command line options (?) under the service start.

Adding option to read options from files with hierarchy/overwrites/nesting can be helpfull for bigger environment and configuratio

[2017-03-26 23:32] brian-brazil commented on #537
That's the role of your configuration management system, and we don't want to makes things more complicated by adding one inside the node exporter or any other Prometheus component. Prometheus configurations are dumb on purpose.

[2017-03-26 23:37] #537 closed

[2017-03-26 23:37] it-praktyk commented on #537
Thank you for the very fast answer.

[2017-03-27 19:01] rtreffer commented on #404
@SuperQ been there, done that: #538 - cpuinfo is only available for root whereas scaling_* can be read by anyone.

[2017-03-27 20:59] jtakkala commented on #466
@travisghansen anywhere I can follow your work on getting node_exporter integrated into pfSense? We could really use this too. Thanks!

[2017-03-27 22:59] HammaBamma opened #539 "Limit Metrics to IP Range - Enhancement"
### Host operating system:  Linux con 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### node_exporter version: 0.14.0

### Are you running node_exporter in Docker? : No

I run a handful of servers on public IP's that are WIDE open to the world. We don't believe in middleware.. Would love to lock the Metric information down to a specific IP Range. This

[2017-03-28 00:09] travisghansen commented on #466
@jtakkala I'm not currently working on it directly but rather have offered a 'bounty' for it's integration.  We have running binaries but the interface is still being discussed pretty heavily.  If you'd like to provide input hop on the irc channel and hit me up (thansen).

I'll be sure to share progress as it moves along though.

[2017-03-28 03:02] adolphlwq commented on #300
+1

[2017-03-29 08:35] klausenbusk commented on #508
I just pushed this to production and it seems to work very well. Thanks for your great work :)
![screenshot_30](https://cloud.githubusercontent.com/assets/1080056/24445752/52305d30-146b-11e7-8596-c606c7b10765.png)

[2017-03-29 12:22] mattbostock commented on #244
@SuperQ Version 0.12.0. We're currently rolling out 0.14.0.

[2017-03-29 14:31] mattbostock commented on #244
FWIW I suspect that the cause of the issues we're seeing with the systemd collector maybe this open dbus bug:
https://bugs.freedesktop.org/show_bug.cgi?id=95263#c37

So I think a timeout should help in our case.

[2017-03-29 15:07] mdlayher commented on #508
I'm very happy to hear that.  Please do file issues if you'd like more metrics exposed in this area.

[2017-03-29 15:27] david-dumas commented on #467
I just installed GitLab 9.0 on an OVH dedicated server with Ubuntu, I have the same issue, switching back to the standard kernel ...

[2017-03-30 15:28] grobie commented on #539
Such feature is outside of the scope of node_exporter and is available via numerous HTTP proxies already. Please run a reverse proxy in front of node_exporter to achieve that like nginx or others.

[2017-03-30 15:28] #539 closed

[2017-03-30 15:32] SuperQ commented on #539
This is more of a job for iptables.

[2017-03-30 15:34] grobie commented on #539
Right, even simpler.

On Thu, Mar 30, 2017 at 12:32 PM Ben Kochie <notifications@github.com>
wrote:

[2017-04-01 18:45] mattbostock commented on #244
As for the implemenation of a timeout, I'm thinking of using a context with a timeout set. That means that we're reliant on every collector to implement the timeout correctly, though I don't see any other way of enforcing a timeout using goroutines (you have to rely on the goroutines to clean up their own resources).

I was thinking of passing a context to the `Update` function on the `Collector`

[2017-04-01 19:11] klausenbusk commented on #515
I have disabled the `netstat` and `vmstat` collector because of all the unneeded metrics. Should we also filter `vmstat` metrics (there is 125 current)?

[2017-04-01 19:19] brian-brazil commented on #515
I was thinking of disabling vmstat by default, though a filter could also work. There's probably only ~10 of those commonly needed.

[2017-04-02 18:45] skottler commented on #535
I've implemented https://github.com/prometheus/node_exporter/pull/540 which sounds like it should meet the requirements of this request. It collects entry counts on a per-device basis.

[2017-04-03 13:38] bgadmin opened #541 "Can't install node-exporter"
Hello I just updated go to latest version 1.8 and when I download node-exporter into go/src and run make it pops a lot of error could you please try installation and provide instructions that work?

Thanks

[2017-04-03 13:38] bgadmin commented on #541
OS is ubuntu 16.04

[2017-04-03 14:16] mdlayher commented on #541
Can you post a gist with the errors you're seeing?

[2017-04-03 14:17] mdlayher commented on #541
I get the feeling this may be a GOPATH issue. Did you try a release binary?

[2017-04-04 04:21] mdlayher opened #542 "Consider discontinuing Windows binary builds"
Being that `node_exporter` is not really useful on Windows, it seems misleading to build and provide release binaries of it for Windows.

Related: https://github.com/prometheus/docs/issues/696.

[2017-04-04 08:04] Cellophan commented on #535
@skottler Thanks!

During last week I create a shell script to put the data in the `text collector`:
[code]

In this script I added some data from `/proc/sys/net/ipv4/neigh/default` because I realized that having the `gc_thresh{1..3}` is needed to understand the behavior of the metrics collected by `/proc/net/stat/arp_cache`.

So the question I have: is collecting the `gc_*` values part of this Is

[2017-04-04 08:18] Cellophan commented on #535
After re-reading: you wrote `/proc/net/arp`. This file is more readable than `/proc/net/stat/arp_cache` but I don't know what this data is.

I'm dealing with messages from the kernel telling me that my ARP table has been full. I have increased `/proc/sys/net/ipv4/neigh/default/gc_thresh3` and I don't have the problem anymore for now. I assume I solved it. But as `gc_thresh3` was at 2048, I don't u

[2017-04-04 09:17] it-praktyk opened #544 "Inconsistency in usage of parameters in node_exporter or/and unclear/wrong examples"
I assume that it's a bug, please explain me if not.

Prometheus Node Exporter when wrong parameters are used displays help.

But when I try use exactly provided examples they don't work.

Examples:

1.
`
-collector.textfile.directory string
    	Directory to read text files with metrics from.
`
the parameter need to be started with dubled dash "--collector.textfile.directory" (?) to works.

2.
`
-

[2017-04-04 13:23] bgadmin commented on #541
@mdlayher sorry for late reply, let me login again and supply you with full information about everything, by the way, I used latest go binary for linux.

[2017-04-04 13:25] bgadmin commented on #541
Here is information about GO:
`ubuntu@le-prod-bastion:[~]>go version
go version go1.8 linux/amd64
ubuntu@le-prod-bastion:[~]>go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/ubuntu/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug

[2017-04-04 13:27] bgadmin commented on #541
# runtime
/usr/local/go/src/runtime/signal_unix.go:27: _SIG_DFL redeclared in this block
	previous declaration at /usr/local/go/src/runtime/signal1_unix.go:15
/usr/local/go/src/runtime/signal_unix.go:28: _SIG_IGN redeclared in this block
	previous declaration at /usr/local/go/src/runtime/signal1_unix.go:16
/usr/local/go/src/runtime/signal_unix.go:37: fwdSig redeclared in this block
	previous decla

[2017-04-04 23:01] juliusv commented on #544
Either `-` or `--` work for me. Did you provide an actual directory? E.g. both `./node_exporter --collector.textfile.directory=/tmp` and `./node_exporter -collector.textfile.directory=/tmp` work fine for me (also without `=`).

The `ignored-devices` is missing the `s` at the end in your example.

[2017-04-05 07:07] Silex commented on #279
If one absolutely has to do it:

[code]

In some cronjob.

[2017-04-05 13:03] anton-pydev opened #545 "No examples for TLS configuration"
I cannot find any example of exposing node_exporter metrics via HTTPS ,
Specifically I am looking into an example implementation of TLS mutual authentication between prometheus and node_exporter.

[2017-04-05 13:12] brian-brazil commented on #545
This is the same as for https://github.com/prometheus/jmx_exporter/issues/132

[2017-04-05 13:12] #545 closed

[2017-04-07 08:39] bgadmin commented on #541
This was problem because i downloaded project via git clone and not with go get.

[2017-04-07 08:39] #541 closed

[2017-04-08 08:29] SuperQ commented on #542
I agree, with the WMI exporter we don't need it here.

[2017-04-10 22:01] ichekrygin commented on #474
I just hit very similar issue in `kubelet` (`v1.5.5`) where filesystem metrics are not reported via `kubelet:10250/metrics`. Restarting `kubelet` resolves this issue. I wonder if this is related.

[2017-04-11 10:20] derekmarcotte commented on #466
@travisghansen - FYI #550 adds exec_boot_time

[2017-04-11 15:37] discordianfish commented on #542
Agreed, wanna submit a PR?

[2017-04-11 15:39] grobie commented on #542
@discordianfish Already done and linked above?

[2017-04-11 15:43] #542 closed

[2017-04-11 15:59] #544 closed

[2017-04-11 21:07] unixhup commented on #510
Hi @prasenfou,

Have the same issue here,

im using: Direct-lvm driver for docker -> raw device

with the default node exporter you wont be able to get your information. I think the only way is to write your own script which will use “docker info“ command for grabbing your utilization information ..

[2017-04-12 00:30] prasenforu commented on #510
Hi @ Unixhup

I think you already explore these solution.

Can you explain little more so I can try to implement

Longtime I was trying to find the solution.

By the way can i configure in docker container  (node-exporter)

[2017-04-12 05:40] unixhup commented on #510
I haven't implement it yet. But please check following link. I think cadvisor can fetch your information from docker directly. And of course you “can“ run cadvisor and node exporter as a container, but its not the way you should use (not sure if its supported or not)

Cadvisor
https://github.com/google/cadvisor

[2017-04-12 05:44] travisghansen commented on #466
Excellent!  That will make the available dashboards much easier to use.

[2017-04-12 05:46] unixhup commented on #510
Sounds like your problem: https://github.com/google/cadvisor/issues/920

[2017-04-12 06:40] SuperQ commented on #510
This doesn't seem to be an issue related to the node_exporter.

[2017-04-12 06:40] #510 closed

[2017-04-12 06:54] prasenforu commented on #510
I think this should be enhancement ..

[2017-04-12 09:03] #358 closed

[2017-04-12 11:06] knweiss opened #553 "cpu collector: guest_nice and collector.cpu.modes flag"
IMHO there are two minor issues with the current cpu collector:

1. There's a 10th field called  `guest_nice` in `/proc/stat` since Linux kernel 2.6.33 which is still missing.
2. The cpu collector has a high cardinality as it generates 9 time series for each **virtual** CPU: E.g. 432 (48*9) time series for a dual-socket 12-core Xeon system with HT. It would be nice to have a **whitelist** of the C

[2017-04-12 12:04] SuperQ commented on #553
1. Adding `guest_nice` should be easy enough.

1. You can drop timeseries using [relabel_configs](https://prometheus.io/docs/operating/configuration/#<relabel_config>) in the Prometheus config.  This will drop them at scrape time.

For example you could drop `mode="idle"` with
[code]

[2017-04-12 12:32] knweiss commented on #553
Ah, that's a good idea. I'll try the drop action. Thanks.

[2017-04-14 18:48] nsauro opened #556 "Turn on/off go and http metrics"
It would be nice to have an option to turn on/off go and http_request related metrics.

[2017-04-14 19:04] SuperQ commented on #556
You can drop metrics with a relabel config by matching on `__name__`.

[2017-04-14 19:55] nsauro commented on #556
Sure.  But I was hoping to be able to treat those metrics like any other collector and be able to enable/disable via the `collectors.enabled` flag.

[2017-04-14 19:57] mdlayher commented on #556
I believe they are built directly into the Go client (not `node_exporter`). I don't know if it supports the ability to enable and disable them individually.

[2017-04-14 20:13] grobie commented on #556
It's possible. The client library provides a collector for go runtime
metrics and can instrument the http handler. There is an instrumented
handler and one can active these things manually, depending on a flag.

In general I'm always skeptical when people request to deactivate this
metrics, but I can see that depending on the number of node_exporter they
add quite a bit of additional load on the s

[2017-04-14 20:27] brian-brazil commented on #556
metrics

As am I. May I ask why you want to disable these?

[2017-04-14 20:44] grobie commented on #556
As per our IRC discussion, Brian and I agreed to disable the golang runtime metrics by default as these are usually only needed by application developers e.g. us as the maintainers. The new client_golang will reduce the http_ metrics by ~60% which should make the overhead of having them neglectable.

[2017-04-14 20:52] brian-brazil commented on #556
Just the go_memstats metrics I believe. GC and goroutine stats are cheap, and more generally applicable.

[2017-04-14 20:58] grobie commented on #556
That makes it difficult, as there is only one collector exposing all
runtime metrics.

On Fri, Apr 14, 2017 at 5:52 PM Brian Brazil <notifications@github.com>
wrote:

[2017-04-14 20:59] brian-brazil commented on #556
We'd have to split it.

[2017-04-14 21:02] beorn7 commented on #556
go_memstats can have a dramatic impact with high-frequency scraping (stop the world involved, with possible improvement in Go 1.9). It would totally make sense to split the go collector into a "cheap" and an "expensive" part in client_golang. We should, however, double-check what collections are actually expensive or cheap, respectively.

[2017-04-15 13:54] nsauro commented on #556
Thank you for the responses.  As per @brian-brazil 's question of "As am I. May I ask why you want to disable these?"

Pretty much which the reasons that were mentioned in this thread: not collecting/storing data which is of no consequence to my current circumstances.  If in the future, that changes, then I can just switch them back on.

Anyways, thanks for the rapid correspondence!  I've been usi

[2017-04-15 15:48] #553 closed

[2017-04-15 18:01] mdlayher opened #558 "Warnings reported by 'promtool check-metrics'"
### Host operating system: output of `uname -a`
[code]

### node_exporter version: output of `node_exporter -version`

[code]

### Are you running node_exporter in Docker?

No

### What did you do that produced an error?
Ran `promtool check-metrics` against the output of `node_exporter`.

### What did you expect to see?
Zero or few warnings.

### What did you see instead?
[code]

The first one is

[2017-04-15 18:15] mdlayher opened #560 "Integrate 'promtool check-metrics' into CI builds"
That way, issues like those reported in #558 can be caught during PR reviews.

[2017-04-15 18:18] grobie commented on #558
We have an issue for that already. We're holding of on changing these
metrics right now in order to package up all breaking changes (e.g.
collector renaming). We should finally come up with a roadmap for that
though.

On Sat, Apr 15, 2017, 15:01 Matt Layher <notifications@github.com> wrote:

[2017-04-15 18:21] mdlayher commented on #558
Oh, makes sense. I should have searched first, sorry.

[2017-04-15 21:23] brian-brazil commented on #560
In general, I wouldn't expect an exporter to be lint clean. Especially one with such a wide array of sources with different properties and chosen approaches to dealing with them.

[2017-04-16 06:02] SuperQ commented on #556
One quick note about "not relevant to me right now". One philosophy of how we recommend Prometheus use is to record everything, even things that seem a little useless right now, because it may be useful in the future, especially in a post-mortem debugging session. I can't count the number of times where I've said "If only I had that metric before the outage".

Of course, there are metrics that are

[2017-04-17 15:22] ferringb opened #562 "systemd_collector should export timestamps service started at and last ran for timer"
This is a feature request.

systemctl is able to export when a service started, and for timers, when it last ran.  This is a potentially useful metric for tracking if a service has gone through a set of restarts, and this feature request is asking that systemd_collector be extended to collect this info.

More specifically, systemctl *does* have some tracking of this info:
[code]

Now... how that's

[2017-04-17 15:34] grobie commented on #562
I wonder if systemctl just reads the standard process information here,
like from /proc/:pid/stat.

On Mon, Apr 17, 2017, 12:22 ferringb <notifications@github.com> wrote:

[2017-04-17 15:42] SuperQ commented on #562
@grobie I think systemd has some of it's own state tracking internally.

I had a chat with some systemd developers a while back about getting metrics over dbus.  They seemed amenable to the idea.

It would be interesting to see what counters are currently available.  It would be interesting to have counters for systemd start/stop/restart/reload/etc type actions.

[2017-04-17 16:49] ferringb opened #563 "mountstats collector should expose more than just mountinfo- inodes, space utilization, etc"
Currently, node-exporter's mountstats collector gives quite detailed information for nfs mounts... but very little useful for non-NFS mounts like ext*, xfs, btrfs, etc.

Minimally, exposing inodes and filesystem space stats would be very useful, and I'd argue, belongs in mountstats (despite it currently being /proc/self/mounstats).  I think the metrics I'm asking for should be in that module, but

[2017-04-17 16:57] brian-brazil commented on #563
Have you seen the node_filesystem stats?

[2017-04-17 16:59] mdlayher commented on #563
The reason that the mountstats collector in particular is NFS focused is because NFS is the only filesystem I've seen that exposes metrics this way.  The others probably use different mechanisms.

If you can provide an example of `/proc/self/mountstats` with metrics you'd like to see, that would be helpful.

Otherwise, you may want to look at `node_filesystem` as Brian suggests.

[2017-04-17 17:02] ferringb commented on #563
@brian-brazil and @mdlayher I have not seen that metric.  I get the feeling I may have just wasted folks time ;)

I'm guessing the suggestion is to use node_filesystem_files_free?  That is the inode measurement?  Naming wise, that's weird, but considering y'all are pointing me that way... I'm guessing that's where I should look?

[2017-04-17 17:03] ferringb commented on #563
Yeah, that's what I need.  pardon for the noise- closing this out.

[2017-04-17 17:03] #563 closed

[2017-04-17 17:13] mdlayher commented on #563
No worries!

[2017-04-17 17:29] prasenforu commented on #510
By the way can I inject metrics through a script in node-exporter?

[2017-04-17 17:32] grobie commented on #510
See the textfile collector.

On Mon, Apr 17, 2017, 14:29 prasenforu <notifications@github.com> wrote:

[2017-04-18 18:45] lcjlcj commented on #474
This is essentially a limit from docker and from kernel namespace support. It's easy to assign host's IPC or PID namespace to a container. It's very difficult to expose host's MOUNT namespace to a container given how current docker works. See kernel namespace doc (http://man7.org/linux/man-pages/man7/namespaces.7.html) for more info. And Redhat has a good doc describing super privileged container

[2017-04-18 18:50] lcjlcj commented on #474
I believe docker creates a MOUNT namespace when node_exporter container is created. It inherits all current mount points info at that moment. It is essentially a clone. After node_exporter starts, its own MOUNT namespace is not updated. You don't see any new host mount point from inside node_exporter. And you would stale unmounted volumes as well.

[2017-04-18 19:00] lcjlcj commented on #474
There are some hacks that can work around it. This is one example with some limitations. It works only with ext4fs on kubernetes created volumes on AWS. But a general solution can be built like this.

First run node_exporter with host mount `-v /:/host`.

Then do the following inside node_exporter.

[code]

[2017-04-19 16:54] #498 closed

[2017-04-20 11:21] grobie opened #566 "Fix unstable file descriptor leak test"
The test sporadically fails. There are either other file descriptors involved as well (could it be reading /proc/self/fds itself?) or there is a race reading that information right after closing a file descriptor.

[2017-04-20 13:25] JensErat opened #567 "systemd collector exports unavailable units referenced by other units"
### Host operating system: output of `uname -a`

[code]

### node_exporter version: output of `node_exporter -version`

[code]

### Are you running node_exporter in Docker?

No, `node_exporter` is directly installed to host machine.

### What did you do that produced an error?

This is something in-between a bug report and change request. The `node_exporter` behavior is not acutally wrong, but doe

[2017-04-20 14:52] SuperQ commented on #567
Hrm, tricky.

Going with the metric `node_systemd_unit_loaded{name="etcd.service"} BOOL` seems like the right thing to do.  That gives you a way to join unit state and loaded.

[2017-04-24 13:58] moepman opened #570 "collect fibre channel host port statistics on linux"
I'd like to see fiber channel host port statistics on linux exposed via node_exporter.

I have gathered the following stats from sysfs (via recursive grep) and grouped them into stats that I'd want to see in such a collector and optional ones:

[code]

There are more statistics then the above, but I don't consider them very useful. I can supply a full output for some of my FC adapters if needed.

[2017-04-24 14:02] Savemech opened #571 "Panic with mountstats at debian wheezy and weird magic with nfs at jessie"
### Host operating system: output of `uname -a`
Linux somewheezy 3.2.46 x86_64 GNU/Linux
and
Linux somejessie 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux

### node_exporter version: output of `node_exporter -version`
node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:

[2017-04-24 14:58] SuperQ commented on #571
Could you attach a file with the raw contents of procfs with the tab characters preserved?  I want to compare with the current fixture data we have.

Also, what kernel versions are involved here?

[2017-04-24 14:59] SuperQ commented on #571
Oh, sorry, I see the versions at the top now.

[2017-04-24 18:58] grobie commented on #571
@mdlayher That's an issue in the NFS parsing code in procfs.

[2017-04-24 19:09] mdlayher commented on #571
Yep. A gist with the full, unmodified output would be great. Probably a different version of the stats that I'm not accounting for.

[2017-04-24 19:14] grobie commented on #571
@mdlayher Looking at https://github.com/prometheus/procfs/blob/332f6238064950a97bc3ed3f5421f6418537e707/mountstats.go#L511-L552 I bet he has a file using stat version 1.0. You require in this function stat 1.1.

[2017-04-24 19:17] grobie commented on #571
@mdlayher IMHO this could be fixed by changing line 527 to `ns := make([]uint64, fieldTransport11Len)` (initializing a slice with 13 elements, not 0).

[2017-04-24 21:00] SuperQ commented on #571
Well, we still need to bump the vendoring, but that's easy.

Thanks @mdlayher/@grobie! 🌮 🎉 🌮

[2017-04-25 07:54] #456 closed

[2017-04-25 08:25] #571 closed

[2017-04-25 08:26] SuperQ commented on #571
@Savemech, if you could build and test from master to verify, that would be great.

[2017-04-25 08:33] fihuer opened #573 "Infiniband counters are not bytes"
### Host operating system: output of `uname -a`
CentOS 7.3 but this is not OS related

### node_exporter version: output of `node_exporter -version`
node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go version:       go1.7.5

### Are you running node_exporter in Docker?
No

[2017-04-25 12:52] mdlayher commented on #573
Interesting. I wonder if there is a file available that exposes the correct multiplier in a standard way. Otherwise, it would have to be documented I think.

[2017-04-25 13:06] joehandzik commented on #573
I'll let @roclark expand or correct me if I'm off in some way, but the intent was to expose per-port metrics. As far as I understand it, any dashboards we've created based off this data involve him aggregating the per-port metrics (which are labeled on a per-port basis). So...we could consider removing the per-port label and aggregate in the collector, but that doesn't feel like the right answer s

[2017-04-25 13:22] alsm commented on #556
Late to the conversation, but I'm also looking to do this. While there aren't that many stats in there (for go, process and http) I know I don't need them and I want to minimise the storage footprint per system scraped across 1000s of systems (which is also why I don't want to use relabeling to drop them on prometheus)

[2017-04-25 13:41] SuperQ commented on #556
@alsm, Dropping them is just fine as a workaround. There is minimal cost to scrape the data, and the drop method saves the storage space space.  Even with 1000s of systems.

[2017-04-25 13:49] SuperQ commented on #573
No, you will need to aggregate things, as different ports may have different counter values.

For example, this should return the correct per-device stats:
[code]

If you could provide some sample data from `/sys/sys/class/infiniband/*`, that would help.

[2017-04-25 13:57] joehandzik commented on #573
@SuperQ To clarify, the "you" in this context is the @fihuer, not myself or @roclark (if I'm reading your suggestion correctly).

[2017-04-25 14:08] roclark commented on #573
When I originally pulled in the metrics, I referenced [Mellanox documentation](https://community.mellanox.com/docs/DOC-2572) on the InfiniBand counters. The `port_xmit_data` and `port_rcv_data` metrics were of particular interest:

@fihuer you are correct, the values you see are divided by 4 for the number of lanes. In my dashboards, I have been multiplying the query by 4 to get the intended value

[2017-04-25 14:29] joehandzik commented on #573
@roclark Don't multiply in the collector, reference the query that @SuperQ provided to clarify what we should be doing (multiplying by 4 outside the collector isn't quite right either).

[2017-04-25 14:38] roclark commented on #573
Are we sure that's what we are looking for though? Yes, that is a good way to sum all port statistics for a single device, but it still doesn't solve the issue about the 4 lanes. At least for the case of Mellanox cards, every port has 4 lanes, hence the need to multiply by 4 for both `port_xmit_data` and `port_rcv_data`.

Is that what you are referring to?

[2017-04-25 14:39] joehandzik commented on #573
@roclark Ah, forgive me, I misunderstood that point. Now I'm less sure about how we should proceed. I can see the value in internally multiplying by 4 and documenting that we did that.

[2017-04-25 14:44] roclark commented on #573
No worries @joehandzik! I think both steps would be appropriate unless @SuperQ or others disagree.

[2017-04-25 14:59] SuperQ commented on #573
In general, we don't like tweaking the output of data in exporters.  This is really bad behavior on the part of Mellanox.  If these metrics come out non-multiplied from other vendors, or other models of cards, this will get very complicated. :cry:

[2017-04-25 15:17] joehandzik commented on #573
Does anyone else even ship Infiniband anymore besides Mellanox? I suppose we could run into problems with older non-Mellanox cards, but Qlogic's group is what Intel turned into Omnipath. So the only slight consolation may be that Mellanox is really the only game in town that I know of.

[2017-04-25 15:53] fihuer commented on #573
As far as I know, lane width is negotiated during initialization. But most of the time it will be 4 (because most of infiniband cards are using QSFP tranceivers).

So IMHO, best would be to get the negotiated lane width (by port) and then multiple metrics for that port by the lane width.

But getting the lane width is tricky. It is specified in `/sys/.../mlx?_?/ports/?/rate` but not directly usabl

[2017-04-25 15:57] mdlayher commented on #573
Another data point from my machine:
[code]

[2017-04-25 15:59] fihuer commented on #573
By the way, Infiniband collector should keep the separation for ports.
We have use-cases where a single bi-port IB card is routing traffic between these 2 ports.

[2017-04-25 16:06] roclark commented on #573
Definitely agree on keeping the separation.

I can certainly capture the lane width from the `rate` directory, but is it going to be deterministic? I want to make sure it is safe to perform this in all situations.

[2017-04-25 16:09] joehandzik commented on #573
@roclark I'm connecting you with our Mellanox friends now via HPE-mail. We'll see if they can get more information our way. As a stop-gap, our sample size of two indicates that x4 is the only value to use that we know of.

[2017-04-25 19:02] SuperQ commented on #573
Yes, it would definitely ease my mind to have an official word from Mellanox.

I also noticed when doing some Google digging that some of these counters are 32-bit only, which is fine for Prometheus, but troublesome for high bandwidth devices.

[2017-04-28 10:36] Savemech commented on #571
@SuperQ now works perfectly fine; many thanks guys!

[2017-05-01 09:11] pengsrc commented on #291
@discordianfish Hi, I got `Unknown property` when executing this code, this should be a bug in `go-systemd`.

Here's the example of my `crond` service status.

[code]

May be the `go-systemd` package can not parse a service if it has been running for a long time and it's log is not available.

[2017-05-01 17:18] mdlayher commented on #570
Neat.  Can you share the output of `tree /sys/class/fc_host` on your machines?  I'm just curious to see what the structures look like so I can get a better idea before jumping in.

This should probably get added to the `sysfs` package in `prometheus/procfs`, then vendored back in and used here.

[2017-05-01 21:27] roclark commented on #573
Just heard back from Mellanox a couple hours ago and their response was:

So, sounds like with the case of Mellanox, it is safe to multiply this number by 4. As before, I am certainly happy to hard-code this value in, or as @joehandzik suggested in an offline discussion, I could keep the metrics as-is and add two new metrics which are multiplied by 4. Again, I don't necessarily have a strong opini

[2017-05-02 08:15] moepman commented on #570
[code]

[2017-05-08 06:15] dwdraju commented on #211
How to disable `hwmon` module? Its related to `--collectors.enabled` but couldn't figure out how. Thanks.

[2017-05-08 06:21] SuperQ commented on #211
@dwdraju Usage questions are best asked via our [community](https://prometheus.io/community/).

[2017-05-08 09:09] funzoneq opened #577 "Unable to compile for freebsd"
### Host operating system: output of `uname -a`
uname -a
Darwin opzouten.ocom.lan 16.3.0 Darwin Kernel Version 16.3.0: Thu Nov 17 20:23:58 PST 2016; root:xnu-3789.31.2~1/RELEASE_X86_64 x86_64

### node_exporter version: output of `node_exporter -version`
Running master

### Are you running node_exporter in Docker?
No

### What did you do that produced an error?
[code]

### What did you expect to s

[2017-05-08 09:25] grobie commented on #577
The type `bsdSysctl` is defined in `sysctl_bsd.go`, but it's not picked up as you only tried to build `node_exporter.go`. Read up on the build/filesystem design of golang, but in general I suggest to use our `make build` target which will call `go build` correctly. `GOOS=freebsd make build`.

You'll likely run into issues trying to crosscompile a freebsd binary on a darwin host, as you won't have

[2017-05-08 14:08] funzoneq commented on #577
@grobie thanks, compiling on freebsd worked.

[2017-05-08 14:13] grobie commented on #577
I'll close this, as crosscompilation from darwin to freebsd is a different beast to tackle.

[2017-05-08 14:13] #577 closed

[2017-05-09 07:08] wdoekes opened #578 "Thread/FD leak because of hung NFS filesystem"
Hi there. Yesterday we found that the node-exporter was using more than 70% of it's allowed (ulimit) filedescriptors and increasing. Turns out the following was the cause:

- an nfs filesystem was broken, but not unmounted
- every call inside that filesystem would infinitely hang
- this appeared to spawn a new thread (and one file descriptor) that never ended

I don't know about the node-exporter

[2017-05-09 07:16] SuperQ commented on #244
Now that we have nfs rpc and mountstats collectors, we can probably add `nfs.*` to the filesystems ignored list.  @discordianfish / @grobie opinions?

[2017-05-09 07:21] SuperQ commented on #578
This is unfortunately an unfixable problem, see https://github.com/prometheus/node_exporter/issues/244.

Because the request is hung, and never returns, we can't do much about it.  Even if we tried to cancel the request.

Part of this is due to the async nature of the `node_exporter`.  Because you can have multiple prometheus servers accessing a prometheus target, the requests to the exporter are

[2017-05-09 07:35] wdoekes commented on #578
Ah. Exactly the same problem over there. Thanks for the reads.

Closing as duplicate.

[2017-05-09 07:35] #578 closed

[2017-05-09 08:18] brian-brazil commented on #244
They're still real filesystems, I think we should have the usual block/inode usage stats for them.

[2017-05-09 08:20] SuperQ commented on #244
But do we need those exact same stats on every client?  Normally I would get those stats from the exporting server.

[2017-05-09 08:23] brian-brazil commented on #244
That's a question for the person running the machine, we can't presume any particular monitoring strategy.

[2017-05-09 09:36] discordianfish commented on #244
@SuperQ I agree, we should have sane and safe defaults and excluding NFS by default seems reasonable to me.

[2017-05-09 13:11] acdha commented on #244
One issue with NFS is is that since it's a network filesystem it's considerably more likely to get in an error state where any operation on the mountpoint will hang. I've had a couple of cases where a network glitch meant that the node exporter started returning partial results truncated at the point where it started collecting mount information.

[2017-05-11 09:41] SuperQ commented on #503
Now that we have warnings in the issue template, this is obsolete.

[2017-05-11 09:41] #503 closed

[2017-05-12 05:28] #573 closed

[2017-05-13 11:37] TomHutter opened #581 "node_exporter running as container collects network statistics from container interfaces"
### Host operating system: output of `uname -a`
Linux domo 4.9.0-0.bpo.2-amd64 #1 SMP Debian 4.9.18-1~bpo8+1 (2017-04-10) x86_64 GNU/Linux

### node_exporter version: output of `node_exporter -version`

node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go version:       go

[2017-05-13 11:48] TomHutter commented on #581
Sorry, I missed the --net="host" part :-(

[2017-05-13 11:48] #581 closed

[2017-05-15 03:47] tacit-boy commented on #328
It's working when i update to 0.13 , thanks everyone.

[2017-05-15 05:35] SuperQ commented on #328
You should update to the latest release, 0.14.

[2017-05-17 18:15] szocske42 commented on #485
Hi,

I ran into this, and thought I'd clarify the current state of node_exporter when the same "helpless" metric (same name, different labels, no "# HELP") is present in multiple input files:

- You get a benign-looking error message about the different (generated) HELPs.
- The metric is parsed only from one file, no matter the different labels.
- The workaround is to add an explicit # HELP to the

[2017-05-19 03:25] jwwalton opened #584 "Worthless disk metrics"
not sure what i'm supposed to do with these:

[code]

these device names are not stable at all. so the metrics are mostly worthless unless you reset them at every boot.

[2017-05-19 05:46] SuperQ commented on #584
For usage question, please use our [community](https://prometheus.io/community/) contacts.

[2017-05-19 05:46] #584 closed

[2017-05-21 21:05] fahlke opened #585 "test_image.sh should cleanup before exiting"
Currently test_image.sh is not stopping the running test container. This might be OK on Travis and Circle-CI where the instance it ran on, is thrown away after all. But on local machines running the test always leaves the container running.

A cleanup step based should be introduced, that is stopping the container and removing it.

[2017-05-23 20:18] jwwalton commented on #584
i don't have any questions about usage. it just means that node exporters disk metrics are pretty much worthless for most people that actually reboot their systems once in a while. collectd and every other thing under the sun solves this problem by grabbing info from udev. so consider this a feature request for udev support instead.

[2017-05-23 20:32] joehandzik commented on #584
@jwwalton Take a look at issue #304. I see your point (it's an issue we deal with in the context of Lustre, for example), but it seems like there are some workarounds available.

[2017-05-29 08:21] cristi- opened #587 "Node Exporter killed by SIGPIPE"
### Host operating system: output of `uname -a`
Linux hostname 4.1.12-61.1.19.el7uek.x86_64 #2 SMP Fri Nov 18 17:00:09 PST 2016 x86_64 x86_64 x86_64 GNU/Linux

### node_exporter version: output of `node_exporter -version`
node_exporter, version 0.13.0 (branch: master, revision: 006d1c7922b765f458fe9b92ce646641bded0f52)
  build user:       root@75db7098576a
  build date:       20161126-13:11:09
  g

[2017-05-29 08:30] SuperQ commented on #587
I think this is correct behavior, as the stdout logging output pipe fails when journald is restarted.  It's safe to add an automatic restart to your node exporter unit file.

[2017-05-29 08:34] cristi- commented on #587
We have the folllwing systemd file:

But i think a PIPE signal is not considered an error.

What we are doing for other go programs is using https://github.com/projectatomic/forward-journald as a pipe between the program and journald.

Thanks!

[2017-05-29 08:40] SuperQ commented on #587
I think that is unrelated, as that is for Go <= 1.6, where the version you are using is Go 1.7.

I don't think we've done anything with SIGPIPE in any other Prometheus code.

You probably want `Restart=always`.

[2017-05-30 11:12] cristifalcas commented on #587
Actually it's a problem with go also. Some pertinent description on other project: https://github.com/cybozu-go/cmd/issues/13.

Also: https://github.com/influxdata/kapacitor/issues/737, https://github.com/moby/moby/issues/19728.

In 1.6 they added support for SIGPIPE to be captured inside the program: https://golang.org/doc/go1.6

[2017-05-30 11:50] SuperQ commented on #587
Thanks for the links, I guess we can look into handling `SIGPIPE` better.

[2017-06-01 18:02] onorua opened #591 "node_filesystem_readonly is showing RW, but filesystem is actually RO"
### Host operating system: output of `uname -a`
[code]

### node_exporter version: output of `node_exporter -version`
[code]

### Are you running node_exporter in Docker?
[code]

### What did you do that produced an error?
Just check filesystem status from prometheus server, node_exporter reported filesystem as RW, but it is RO for real.

### /proc/mounts file
[code]

But on prometheus I can see:

[2017-06-02 05:10] tsrinath1986 opened #592 "Prometheus graph not shows node_exporter expressions."
Hi,
i installed prometheus and node_exporter when i see
http://localhost:9090/graph
for expression : node_cpu
No datapoints found.
prometheus version prometheus-2.0.0-alpha.2.linux-amd64

node_exporter-0.14.0.linux-amd64

![node_9100](https://cloud.githubusercontent.com/assets/29095217/26711694/e4aae558-477f-11e7-83ba-5c0184d654c1.png)
![prometheus_graph](https://cloud.githubusercontent.com/assets

[2017-06-02 05:33] SuperQ commented on #592
This is not an issue with the node_exporter.  For usage questions, please contact our [community](https://prometheus.io/community/).

[2017-06-02 05:33] #592 closed

[2017-06-02 07:50] matthiasr commented on #591
When you `exec` into the container, what is /proc/mounts there? Running
node exporter in a container is tricky because Linux doesn't let it see the
world as it is.

Try running it in privileged mode, that helps a bit with this, but not
completely. Node exporter works best if it runs in the root namespace.

On Thu, Jun 1, 2017, 20:02 Yaroslav Molochko <notifications@github.com>
wrote:

[2017-06-02 09:23] onorua commented on #591
### exec output
[code]

But, as you may see, I've configured root proc with
[code]

About privileged mode - I do not see anything which may be useful in the code, it simply read /proc/mounts file, and apparently it doesn't do it right. This is something local, because we have around 15 nodes with incorrect mode, while rest 2500 nodes are OK.

[2017-06-07 22:38] omadawn opened #596 "Failure when trying to cross compile for solaris"
### Host operating system: output of `uname -a`
I've tried this on both a Linux and a MacOS system.

Linux y0319t11346 3.10.0-514.16.1.el7.x86_64 #1 SMP Fri Mar 10 13:12:32 EST 2017 x86_64 x86_64 x86_64 GNU/Linux

and

Darwin M00973380.nordstrom.net 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

### node_exporter version: output of `

[2017-06-08 06:45] SuperQ commented on #596
I get the same thing.  @kpettijohn, is there a trick to getting this cross-build to work?

[2017-06-11 17:01] klausenbusk commented on #536
I think this issue can be closed? https://github.com/prometheus/node_exporter/pull/546

[2017-06-11 17:13] SuperQ commented on #536
Yes

[2017-06-11 17:13] #536 closed

[2017-06-12 08:48] keyolk opened #600 "Way to distinguish bind mounted path ?"
### Host operating system:
[code]

### node_exporter version:
[code]

### Are you running node_exporter in Docker?
yes

### What did you do that produced an error?
With given query below
[code]

Result is
[code]

Actually second record is bind mounted point.
If I can get mount options it would be helpful, to exclude the record.

[2017-06-12 11:50] SuperQ commented on #600
Can you attach a copy of `/proc/mounts`?  This is where the exporter gets the filesystem list.

[2017-06-15 08:11] keyolk commented on #600
@SuperQ

/proc/mounts here
[code]

[2017-06-15 08:20] SuperQ commented on #600
To me that looks like the mount options would be no help in this case.  There is no way to tell the difference between `{device="/dev/sda3",mountpoint="/home1"}` and `{device="/dev/sda3",mountpoint="/home"}`

[2017-06-15 08:26] keyolk opened #602 "node_exporter prevents docker from removing monitored containers?"
### Host operating system:
[code]

### node_exporter version:
[code]

### Are you running node_exporter in Docker?
yes

### What did you do that produced an error?

Seems it is related to [this issue](https://github.com/google/cadvisor/issues/771) from cadvisor
and this http://blog.hashbangbash.com/2014/11/docker-devicemapper-fix-for-device-or-resource-busy-ebusy/

1. use devicemapper as a storage

[2017-06-15 09:41] matthiasr commented on #602
This seems like a Docker issue to me. Am I missing anything that _node exporter_ is doing for this case, or does the same happen if you run

[code]

I honestly don't know, try it out?

[2017-06-15 09:46] matthiasr commented on #602
Ah, I understand now, the `/rootfs` mount gets you the filesystem metrics mentioned in #600. I'm afraid there is no way to get the host mount metrics except by leaking the host mount namespace into the container, otherwise the whole kernel namespacing would be pointless.

I think this can only be fixed in Docker, if at all.

[2017-06-16 02:15] keyolk commented on #602
I see Thanks @mattbostock

[2017-06-16 02:16] keyolk commented on #600
@SuperQ
Actually it is mounted like
[code]

[2017-06-16 05:02] SuperQ commented on #600
The `node_exporter` does not read from `/etc/fstab` as it is not the authoritative source of information about what is mounted.  Many systems use automatic mount management, hence the only source of what is mounted comes from `/proc/mounts` generated by the kernel.

Duplicate bind mounts are indistinguishable from the kernel's perspective, similar to a hard link.

There are two options:
* Create i

[2017-06-17 21:26] bjoernhaeuser commented on #332
I tried this and it works, unfortunately only when the volume is mounted before the node_exporter is started. New mounts are not picked up properly. Is this known?

[2017-06-19 10:14] Whissi commented on #101
I think it is a bad user experience when you just deprecate something without telling users where they should move to. So I would recommend to update https://github.com/prometheus/node_exporter/blob/master/README.md and add a "Replacement" column for example telling users to move to StorCLI text collect in this case. An additional note in megacli collector's source code would be helpful as well.

[2017-06-19 10:33] discordianfish commented on #101
@Whissi Good idea! Want to submit a PR for that?

[2017-06-19 10:33] SuperQ commented on #101
@whissi That's a good suggestion, we can add that to the readme.

[2017-06-19 15:51] cjroebuck opened #605 "collector 'cpu' not available"
### Host operating system: output of `uname -a`
x86_64 x86_64 x86_64 GNU/Linux

### node_exporter version: output of `node_exporter -version`
node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go version:       go1.7.5

### Are you running node_exporter in Docker?
No

### W

[2017-06-19 15:52] grobie commented on #605
The linux CPU collector has only been added after 0.14.0. The first release including it will be 0.15.0.

[2017-06-19 15:52] #605 closed

[2017-06-20 18:07] SuperQ opened #607 "Add NFS server stats"
We have `nfs` and `mountstats` for tracking NFS client metrics, but we don't have an `nfsd` collector for server stats.

Some docs:
http://deepdivetech.blogspot.de/2012/01/nfs-procnetrpcnfsd-file-explained.html
https://www.svennd.be/nfsd-stats-explained-procnetrpcnfsd/
https://linux.die.net/man/8/nfsstat

[2017-06-20 18:19] mdlayher commented on #607
I'm in favor. Feels like another good fit for a `procfs` package.

[2017-06-20 18:33] SuperQ commented on #607
Yes, we would want this in procfs first, but I wanted to put a placeholder here to seed the idea.

[2017-06-21 08:34] ymmt2005 commented on #587
Hi,

I am the author of [cybozu-go/cmd](https://github.com/cybozu-go/cmd) and would like to share my thoughts on this.

From a conclusion, the best way I think is to specify either `Restart=always`  or
`RestartForceExitStatus=SIGPIPE` in the systemd service file.

We have struggled and failed twice to properly handle SIGPIPEs from journald
in Go, and finally resolved the problem in cybozu-go/cmd#1

[2017-06-21 19:40] keyolk commented on #602
@mattbostock
I think it can be mitigated.
if I can put exact volumes to be used to the container.
what I means just take off /var/lib/docker/devicemapper being mounted.

could you inform me what of exact host data it uses ?

[2017-06-22 07:23] Evertvz commented on #591
Hello,

I would like to mention that I have the same behaviour on two of my systems. One is an Ubuntu 14.04 and another one Ubuntu 16.04. Both times the / is RO.
The mounts command show that the filesystem is remounted RO due to errors but node-exporter claims all is fine.

We run node-exporter directly on the system, not in docker.

[2017-06-22 08:33] masipcat opened #608 "node_memory_MemAvailable is missing"
### Host operating system: output of `uname -a`
(Ubuntu 14.04 on Amazon EC2) `Linux ip-172-x-x-x 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

### node_exporter version: output of `node_exporter -version`
prom/node-exporter:v0.14.0 form docker hub

### Are you running node_exporter in Docker?
yes

### What did you do that produced an error?
`curl lo

[2017-06-22 09:03] brian-brazil commented on #608
We can only expose what the kernel exposes, and that particular metric is only available in newer kernels.

[2017-06-22 09:03] grobie commented on #608
MemAvailable was introduced in kernel 3.14.  https://groups.google.com/d/msg/prometheus-users/35_zcJgU_U4/VVS176aJAAAJ

[2017-06-22 09:03] #608 closed

[2017-06-22 09:57] masipcat commented on #608
Thank you,

[2017-06-22 16:36] SuperQ commented on #591
@Evertvz would you please attach a copy of `/proc/mounts` from that system?

[2017-06-22 16:57] SuperQ commented on #591
Ahh, it turns out I'm wrong about the `/proc/mounts`.  We're getting the readonly status from a `Statfs()` call.

I tested this against my local machine and was unable to reproduce the problem (I created a read-only tmpfs mount).

[2017-06-22 17:13] onorua commented on #591
hm... isn't it better to read `/proc/mounts`?

[2017-06-22 17:39] SuperQ commented on #591
That's a good question, the syscall in theory should be good enough to get the filesystem status.  I will have to research this a bit.

[2017-06-22 17:48] SuperQ commented on #591
@Evertvz One interesting point would be to compare `/proc/mounts` with the node_exporter's PID `/proc/$PID/mounts`.  There may still be some namspacing going on.

[2017-06-23 07:45] Evertvz commented on #591
Hello @SuperQ ,

I'll blame it on the lack of sleep because it seems I was looking at the wrong place for the readonly fs. There is no problem with our / filesystem, it only states that it will remount ro if there are errors.
There are some errors on our /home though, but this did not put the filesystem in readonly.

So in short, no issues with node-exporter from my side. The problem was located b

[2017-06-23 07:55] matthiasr commented on #591
Ah, but the initial report was in Docker. Obviously, a syscall will not
honor `-collector.procfs=/host_proc`. Not sure how to deal with this.

On Fri, Jun 23, 2017, 09:45 Evert <notifications@github.com> wrote:

[2017-06-23 08:00] grobie commented on #591
Don't run node_exporter in a docker container.

On Fri, Jun 23, 2017 at 9:55 AM Matthias Rampke <notifications@github.com>
wrote:

[2017-06-23 08:49] SuperQ commented on #591
@matthiasr We could possibly try and change the mount namespace in the container to the root mount namespace.  We would need a `nsenter` type utility in the Docker package, or have an option to call `setns` inside the node_exporter.

[2017-06-23 09:07] onorua commented on #591
@grobie it is easier say than accomplish.
@SuperQ  According to docker: https://github.com/rootfs/docker/commit/0ca94ce299faa7126668d24d5a5eadcbcc0d9a2b#diff-6ce9e79ddb91a3f06352abe1f2c72ecbR410

 `–hostns=true` should do the trick, but I'm not sure about this option availability in k8s.

IMO, file based approach sounds like more reliable in this particular case.

[2017-06-23 09:34] SuperQ commented on #591
@onorua `--hostns=true` does not exist in Docker, that is just a patch someone wrote.

[2017-06-23 10:47] grobie commented on #591
@onorua It's easier than installing docker, you don't even need root. You installed docker on your system, so you can install node_exporter on your system. Systems have been operated for decades without Docker containers and there are countless supervisors available.

The node_exporter main use case is to monitor the machine, wrapping it in a virtual environment in isolated namespaces is asking fo

[2017-06-26 17:51] nthanes commented on #244
We had similar issue, sockets left open till it hit the max of 1024 and made the Node Exporter inoperable, but for what it's worth, after we restored access to the broken network mount and performed a `mount -a` on the box, the Node Exporter resumed without a restart and all the previously opened sockets were cleared on their own. So the Node Exporter itself was pretty robust in that regard. :+1:

[2017-06-27 10:08] matthiasr commented on #591
But it does mean running a supervisor and getting the binaries delivered in the first place. At least on container focussed systems like CoreOS and RancherOS this is _not_ a trivial task. @fabxc do you know of any plans to include the node exporter in CoreOS?

I don't know much about all the namespacing. Could a node exporter running in a privileged container detect the namespaces that it's in and

[2017-06-27 10:17] fabxc commented on #591
No plans to my knowledge.
@brancz is currently looking into fixing some of oddnesses that come from running it in a container.

[2017-06-27 10:36] brancz commented on #591
As a matter of fact I literally just did this for the net namespace. This is possible for all namespaces. For a start we did this to maintain the ability to use Pod networking, but collect metrics of the host net namespace. Basically what we're doing is:

- open a socket in Pod network namespace (to be able to apply NetworkPolicies in Kubernetes)
- nsenter into /host/proc/1/ns/net <-- this is natu

[2017-06-28 07:15] matthiasr commented on #469
I don't see a problem with that for architectures that don't have uclibc. I would not want to do it for all architectures though.

[2017-06-28 07:25] matthiasr commented on #504
Privileged mode is a good idea when running in Docker, but does not solve all issues.  If at all possible, run node exporter without containerization.

[2017-06-28 07:25] #504 closed

[2017-06-28 07:41] XiLongZheng commented on #469
So we could simply use busybox:glibc as base image?

[2017-06-28 08:16] sdurrheimer commented on #469
If you take a look at our current Dockerfile, we are using busybox:glibc for x64.

[2017-06-28 10:50] matthiasr commented on #469
Ah great, so this is already solved?

[2017-06-28 10:53] sdurrheimer commented on #469
No, he want to build a image for s390x, not x64.

Le mer. 28 juin 2017 à 12:50, Matthias Rampke <notifications@github.com> a
écrit :

[2017-06-29 07:53] matthiasr commented on #469
@sdurrheimer does promu support s390x? is this as simple as adding `linux/s390x` to the platforms in `.promu.yml`?

[2017-06-29 12:47] zhaoyi0113 commented on #133
Could you let me know which connector can be used on osx for monitoring cpu, memory etc.?

[2017-06-29 12:50] zhaoyi0113 opened #610 "Can't run node_exporter docker on MacOs"
I am using below command to run a node_export docker container on Mac.
[code]

The container can be run but the port number 9100 is not listenning. Is there anything need to be configured on Mac? As I know, Mac doesn't have /proc directory.

[2017-06-30 15:46] matthiasr commented on #587
So this is caused by the supervisor, and can easily be handled by the supervisor? In that case I would not add additional complexity to the exporter itself. This issue is a great reference, but I think we can close it. @superq

[2017-06-30 15:50] SuperQ commented on #587
Yes, thanks for all the info, but for now this is out of scope for anything the node_exporter needs to implement.

[2017-06-30 15:50] #587 closed

[2017-06-30 15:56] matthiasr commented on #602
See #591 for details on how this data is collected. As far as I understand, each filesystem that is mounted into the container's mount namespace is represented. By mounting in `/` you get them all. If you know what your actual mount points are you could only mount in a subset of them, but if you want metrics about the root volume you're just back where you started.

Pending the namespace breakout

[2017-06-30 15:56] #602 closed

[2017-07-05 06:58] AlekSi commented on #610
You should omit `--net="host"` part. There is also a lot of limitation in Docker for Mac: https://docs.docker.com/docker-for-mac/networking/. It may be simpler to just run exporter binary instead of Docker container.

[2017-07-05 07:27] AlekSi opened #613 "TestHandlingOfDuplicatedMetrics fails on Darwin"
### Host operating system: output of `uname -a`
[code]

### node_exporter version: output of `node_exporter -version`
[code]
(that's 0.14.0 plus our totally unrelated patch to add HTTP Basic authentication and TLS)

### What did you do that produced an error?
`make`

### What did you expect to see?
Test pass.

### What did you see instead?
[code]

I added
[code]
to `TestHandlingOfDuplicatedMetrics

[2017-07-05 07:42] AlekSi commented on #613
Well, it's related after all. 😄 `promhttp.ContinueOnError` there vs `promhttp.HTTPErrorOnError` in our code. I will try to improve a test to make it clear.

[2017-07-05 09:45] grobie commented on #610
Running the linux node_exporter binary (which is the one inside our Docker images) on OSX won't give you any interesting metrics. The node_exporter is a low-level exporter tightly coupled to the underlying operating system. In order to use the few collectors we have for darwin/osx you'll need to run the darwin binary.

[2017-07-05 09:45] #613 closed

[2017-07-07 05:26] #585 closed

[2017-07-07 19:10] Gouthamve commented on #489
Also move the flags to `--` instead of `-` (and CLI to https://github.com/alecthomas/kingpin?)

[2017-07-10 02:10] lastsky commented on #306
Testing this on 4 servers with latest RHEL/CentOS kernels with official 0.14. Tomorrow I'll send result.

All servers with 0.12 are crashing (period: ~24h) with this issue.

[2017-07-10 10:11] discordianfish commented on #306
@lastsky Thanks! All this should be also fixed in the latest release (0.14).

[2017-07-18 11:55] lastsky commented on #306
so, whole week of testing. NO problem at version 0.14. close this please.

[2017-07-18 12:37] SuperQ commented on #306
Thanks for follwing up!

[2017-07-18 12:37] #306 closed

[2017-07-20 08:21] SFHfeihong opened #617 "what does node_cpu metric mean? How does it relate to the resauts of "top" ?"
### Host operating system: output of `uname -a`
Linux 3.10.0-327.el7.x86_64
### node_exporter version: output of `node_exporter -version`
  node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go version:       go1.7.5

The top resaults:
Cpu(s):  0.3 us,  0.3 sy,  0.0 ni, 98.

[2017-07-20 08:43] SFHfeihong commented on #617
I want to know the relation between the  cpu data collected by node _exporter  and the percentage of the use of CPU. How to compute?

[2017-07-20 08:55] SuperQ commented on #617
Github issues are reserved for bug reports. Please ask usage questions via our [community](https://prometheus.io/community/)

[2017-07-20 08:55] #617 closed

[2017-07-20 10:33] adepasquale opened #618 "One more "invalid raid0 status line""
Re: issue #219, I am experiencing a similar issue related to [mdadm raid0 parsing regexp](https://github.com/prometheus/node_exporter/blob/41a44a4d24a8115e47d7b339440bd598445be348/collector/mdadm_linux.go#L32)

This is the output of `/proc/mdstat`:
[code]

I am running node_exporter Docker image version 0.14.0 inside CoreOS (Container Linux):
```Linux hostname 4.11.9-coreos #1 SMP Thu Jul 6 00:54:

[2017-07-20 11:16] SuperQ commented on #618
Ahh, great find.  Yes, submitting a PR would be great.

[2017-07-20 15:05] SuperQ commented on #618
Closed via https://github.com/prometheus/node_exporter/pull/619

[2017-07-20 15:05] #618 closed

[2017-07-20 18:26] robinbowes commented on #596
I'm seeing the same thing on SmartOS. See https://github.com/prometheus/promu/issues/52

[2017-07-20 19:18] grobie commented on #596
There are two issues here, the meminfo collector isn't supported on solaris and shouldn't be built. I submitted a patch for that in #620.

More importantly though, node_exporter is a low-level program relying on C libraries. Cross-compilation with C code involved is not as simple as saying `GOOS=solaris go build`, you need to make sure that your c compiler has all the headers available for the tar

[2017-07-20 19:25] #596 closed

[2017-07-24 15:15] dagrooms52 opened #621 "No Such Executable Running Node Exporter in Container on Mac"
### Host operating system: output of `uname -a`
Linux 2ed23a64174b 4.9.31-moby #1 SMP Sat Jun 24 06:29:23 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
This is in a docker container running on MacOSX

### node_exporter version: output of `node_exporter -version`

bash: ./node_exporter: No such file or directory (hence my problem)

### Are you running node_exporter in Docker?

Yes. Image Ubuntu:16.04

##

[2017-07-25 07:47] SuperQ commented on #621
It looks like the problem is you're trying to run a 32-bit linux binary on a 64-bit platform.

You probably want the `amd64` binary.

https://github.com/prometheus/node_exporter/releases/download/v0.14.0/node_exporter-0.14.0.linux-amd64.tar.gz

[2017-07-25 13:49] #621 closed

[2017-07-25 16:49] TimSimmons opened #622 "Process level metrics collector"
Hello! I've had an idea that might be fun, but also might be very bad. Thought I'd run it by you all.

A user of Prometheus asked if there was a way to run a script like:
[code]
and output it to a metric for `node_exporter` to pick up. We pointed them toward the textfile collector.

But what if there was a collector that looked through the running PIDs in `/proc` and exposed metrics for each one,

[2017-07-25 17:01] SuperQ commented on #622
Typically we recommend using cgroups and cAdvisor to handle this kind of "process" metrics.  It's much easier to deal with for monitoring multi-threaded and multi-process tasks that are really "one".

[2017-07-26 23:58] zbjornson opened #624 "Record peak memory usage to monitor very fast changes"
We have several hundred servers with the node exporter, and they run workloads where they allocate several gigabytes of memory for 10s to 100s of *milli*seconds only. We need to monitor these peaks, but definitely can't scrape that frequently.

Ideally the nodes would be able to export some metric like `node_memAvailable_15s_min` that is the minimum amount of memory that was available over the las

[2017-07-27 06:25] SuperQ commented on #624
This sounds out of scope for the node_exporter.

I'm having difficulty determining what actionable monitoring would result from this as well.

I would recommend instrumenting the software with a Prometheus client library to figure out what's going on.  This will give the ability to directly monitor the application's functions in order to trace micro bursts of activity.

I would also recommend look

[2017-07-27 10:41] andrewhowdencom opened #625 "Consider tracking whether the machine would like a reboot (`/var/run/reboot-required`)"
### Host operating system: output of `uname -a`

Debian / Ubuntu

### node_exporter version: output of `node_exporter -version`

*

### Are you running node_exporter in Docker?

Negative

### What is the feature that you wish to see?

Debian flavour operating systems have the capability to perform unattended upgrades. These are fairly reliable; enough so that fault tolerant systems can be upgraded

[2017-07-27 11:39] SuperQ commented on #625
Having a gauge metric for the existence of `/var/run/reboot-required` is a good idea.  It's simple enough and doesn't require root.  My only hesitation is this is very distribution specific.  Do any other distributions use this pattern?

We could possibly support it, but have the feature disabled by default due to the distribution specific nature of it.

[2017-07-27 11:42] brian-brazil commented on #625
This has come up previously in various forms such as needing to do an apt-get upgrade. It's very distribution specific and we've previously said to use the textfile collector.

[2017-07-27 11:47] SuperQ commented on #625
This specific one is much more appropriate as it's checking for file existence, rather than needing to execute or access a package database.

[2017-07-27 11:50] SuperQ commented on #625
@andrewhowdencom Related, if you wanted to contribute a cleaned up version of https://github.com/prometheus/node_exporter/pull/496, I would appreciate it.

[2017-07-27 13:26] andrewhowdencom commented on #625
@SuperQ  I had intended to do that with OSQuery and the relevant exporter: https://github.com/zwopir/osquery_exporter (not something I've gotten around to just yet). Still, doing it with bash seems like a trivial solution daily or something -- I'll take a look as I have time.

I am going to close this -- it seems reasonable to mark distro specific stuff out of bounds of the exporter. All else fail

[2017-07-27 13:26] #625 closed

[2017-07-27 13:35] SuperQ commented on #625
A `debian_exporter` helper script would be great to add to this repo in the textfile helper section.  I recommend this because we typically don't want to have a scrape fork processes.  Doing the updates via cron + textfile make things much safer.

[2017-07-27 23:43] zbjornson commented on #624
Thanks for the feedback.

The actionable monitoring from this is knowing if our machines are the right size for the workloads, or if they need more or less RAM. (They run in isolation on a VM; we're not worried about controlling out-of-control processes because they just die from allocation failures.)

I'm investigating how to actually implement this properly regardless of where it would be -- in

[2017-07-27 23:43] #624 closed

[2017-07-28 05:16] SuperQ commented on #624
If you just need max memory, that is best accounted via cgroups.  `memory.max_usage_in_bytes` is documented here: https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt

[cAdvisor](https://github.com/google/cadvisor) will expose this as a metric for Prometheus to monitor.

[2017-07-28 07:11] salsa-dev commented on #605
I also bumped into this error because was consulting upstream README from master for configuration options..

[2017-07-28 07:20] SuperQ commented on #605
It should be possible to release a 0.15.0 soon.  I think the only thing we may want to change before 0.15.0 is the flag library as Prometheus is standardizing on kingpin.

[2017-07-28 14:24] zbjornson commented on #624
Yeah, that's easy, but we're aiming for the HWM for an interval, not since the process was spawned. :-(

Thanks again.

[2017-07-28 15:10] niravpat opened #627 "too many open files"
Hello, I am seeing too many open files in the logs.

start_node_exporter.sh[59668]: 2017/07/26 11:47:37 http: Accept error: accept tcp [::]:9100: accept4: too many open files; retrying in 1s
start_node_exporter.sh[59668]: 2017/07/26 11:47:38 http: Accept error: accept tcp [::]:9100: accept4: too many open files; retrying in 1s
start_node_exporter.sh[59668]: 2017/07/26 11:47:39 http: Accept error:

[2017-07-28 15:28] hmeine opened #628 "NVidia GPU info collector desired"
In times of ubiquitous GPU computing, it seems to be really within the desired scope of the node_exporter to export GPU load, temperature and memory status.

In particular, `nvidia-smi` is a commandline tool used to query Nvidia card status (with options to provide machine-readable output), `libnvidia-ml.so` is the corresponding DLL that can be used to query the data, and nvidia-ml-py is a Python

[2017-07-28 15:37] mdlayher commented on #627
The other thing that jumps out at me is lots of godbus connection goroutines in IO wait.  Are you using the systemd collector?

[2017-07-28 16:36] niravpat commented on #627
Yes, we are using systemd collector. I will have to let it run for few days without systemd collector and see. But then again, I have node exporter running on bunch of other nodes WITH systemd collector but not all of them have this issue. So it's hard to reproduce and I don't know under what condition it gets into this state.

[2017-07-28 20:05] SuperQ commented on #628
Good idea.  The only difficulty here is that we don't allow spawning sub process work in the node_exporter.  We also are limited to features written in Go.

To start, we could build this as a textfile exporter script.

[2017-07-28 21:19] mdlayher commented on #628
http://godoc.org/github.com/NVIDIA/nvidia-docker/src/nvidia

Looks like this could be helpful if you're willing to do Cgo. Doesn't appear that they provide the source for their NVML library, sadly.  It appears to be doing some `ioctl()` fun with the various `/dev/nvidia*` devices.

[2017-07-29 11:40] matthiasr commented on #628
I would not use a binary blob in the node exporter. It is onto Nvidia to provide a sane and stable interface that we could implement, or they will have to provide their own exporter.

If you're willing to hack around their .so, feel free to try your hand at that, but I would not know how to even distribute that without getting into very dark grey areas.

[2017-07-29 13:06] mdlayher commented on #628
Yep, I think the best answer is probably to keep any Nvidia related functionality outside of the tree. This may be useful for doing just that.

[2017-07-30 16:59] TheTincho opened #629 "Build failures in 32-bit arches"
Hi!

I noticed node_exporter is failing in 32-bit architectures (armel, armhf, i386) due to integer overflows in the Atoi function.

Now, I am not sure if the problem is in using Atoi instead of ParseInt, or if in those arches the values would always fit in 32 bit integers, and only the fixture needs to be corrected.

This is an excerpt of the build log:

[code]

[2017-07-31 07:01] hmeine commented on #628
Would you suggest to use the push gateway, then?  A colleague uses python script (using the [above package](https://pypi.python.org/pypi/nvidia-ml-py/7.352.0)) to push the info onto a gateway.  Or do you see a better way for the near future?

[2017-07-31 16:35] cmsj opened #631 "How to use hwmon labels?"
### Host operating system: output of `uname -a`
Linux nucker 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### node_exporter version: output of `node_exporter -version`

node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go ve

[2017-07-31 17:00] grobie commented on #631
This is by design, as labels are not available for all sensors. If all you sensors have a label, you can do something like this to join them:

[code]

[2017-08-01 08:19] acscloud opened #632 "cpu metrics removed from 0.14.0?"
Hi,

Was cpu metrics removed from 0.14.0? What's the replacement? Thanks.

node_exporter version: 0.14.0
OS version: Ubuntu 16.04

[code]

[code]

[2017-08-01 08:24] SuperQ commented on #632
The `cpu` collector is not a released feature.  It was refactored out of the `stat` collector and will be part of 0.15.0.  You can use the `stat` collector in 0.14.0.

[2017-08-01 08:24] #632 closed

[2017-08-01 08:26] acscloud commented on #632
@SuperQ Thanks.

[2017-08-02 15:23] hmeine commented on #628
I see the following options:

1. A Go implementation using the Nvidia DLL as suggested in the OP. Unlikely to happen.
2. A Python script using the push gateway in a loop.  Works, but looks inelegant to me.
3. Using the textfile collector.  Not better than 2, looks even more inelegant to me.
4. Implement an endpoint in Python, which uses the pyNVML package to serve stats, possibly using the [python

[2017-08-02 15:51] mdlayher commented on #628
Making a dedicated `nvidia_exporter` along the lines of your fourth suggestions seems reasonable to me.  You could do it in Go with the library I mentioned as well.

[2017-08-03 07:46] matthiasr commented on #628
[This example](https://www.robustperception.io/writing-a-jenkins-exporter-in-python/) shows how to do it in Python.

I'll close this issue since it is clear that node exporter itself won't include this functionality.

[2017-08-03 07:46] #628 closed

[2017-08-03 12:15] hmeine commented on #628
Makes sense, thanks to all for the input and finally for the Jenkins example - that looks extremely helpful!

[2017-08-04 10:22] linhdsv opened #634 "Node_exporter instances always down and unable to scrape metrics"
### node_exporter version: `quay.io/prometheus/node-exporter:v0.14.0`

### What did you do that produced an error?
Here's my config for node_exporter scrape job:

[code]

This one for node_exporter configuration itself:
[code]

Service Monitor for node_exporter:
[code]

Here's my Prometheus config to match ServiceMonitor:
[code]

### What did you expect to see?
Node_exporter worked and its state w

[2017-08-04 10:26] brian-brazil commented on #634
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2017-08-04 10:26] #634 closed

[2017-08-07 01:37] mygon0172 opened #635 "The value of iowait very high"
### Host operating system: output of `uname -a`
Linux XXXXXdb01 2.6.32-504.el6.x86_64

### node_exporter version: output of `node_exporter -version`
node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build date:       20170321-12:12:54
  go version:       go1.7.5

### Are you running node_exporter in Docker?
No

[2017-08-08 03:07] csethanhcong opened #636 "Not able to expose metrics"
### node_exporter version: `0.14.0`

### Are you running node_exporter in Docker? No

### What did you do that produced an error?
Fresh setup Prometheus and node-exporter, but it seems like not exposing anything at `/metrics`. I even tried to wget the endpoint on my instances but it said the same thing: `wget: can't connect to remote host (xxx.xxx.xxx.xxx): No route to host`

### What did you expe

[2017-08-08 11:39] Savemech commented on #636
If you go with curl to these endpoints from your prometheus server, did you see any data?

[2017-08-08 12:48] csethanhcong commented on #636
I still can get metrics from other services like `kube-state-metrics` or from my own service by using `wget` but `node-exporter`.

[2017-08-09 02:54] csethanhcong commented on #636
I'm using `NodePort` to expose `node-exporter` service to be accessible from external. And I can see exposed metrics at `http://ec2-52-87-207-223.compute-1.amazonaws.com:32327/metrics`

Any suggestion?

[2017-08-09 14:01] niravpat commented on #627
I am not able to reproduce this either way. any suggestions?

[2017-08-09 16:04] ahakanbaba opened #637 "export iptables metrics"
What do you think about adding a collector for iptables?

Interesting metrics at this point for me are:
1) Total number of iptables rules
2) The number of dropped / rejected packets.

Would a PR adding an iptables collector be welcomed ?

[2017-08-09 16:19] SuperQ commented on #637
If this information is available via an unprivileged access method, I think this would be a good idea.  Can you link to some documentation about how we can get this information?  I assume netlink would be involved?

[2017-08-09 16:23] grobie commented on #637
As Ben mentioned, we impose some restrictions on the native collectors https://github.com/prometheus/node_exporter/blob/master/CONTRIBUTING.md#collector-implementation-guidelines

If it's not possible to collect information without root or spawning new processes, a text_file collector would certainly be accepted.

[2017-08-09 16:30] brian-brazil commented on #637
The only supported way of getting this is via the iptables command running as root.

[2017-08-09 16:32] ahakanbaba commented on #637
Yes, one must use iptables. [Here](https://unix.stackexchange.com/q/384880/212862) is one way to achieve that. Are you sure about the root requirements? Can a NET_ADMIN capability be enough ?

[2017-08-09 17:00] ahakanbaba commented on #637
@grobie The [link](https://github.com/prometheus/node_exporter/blob/master/CONTRIBUTING.md#collector-implementation-guidelines) you pointed has this :

iptables is an external process. As far as I know there is no way of getting iptables metrics without using iptables process.
According to the documentation, this is not allowed.

Looking at the textfile collector doc, should it work like the follo

[2017-08-09 18:59] SuperQ commented on #637
@ahakanbaba Yes, that procedure is how we would recommend doing things.  Take a look at our existing [examples](https://github.com/prometheus/node_exporter/tree/master/text_collector_examples) for hints on how to make one.  For example, we use STDOUT rather than a directly writing the metrics file.

[2017-08-09 21:06] ahakanbaba commented on #637
Thanks @SuperQ. Should this issue be closed then ? If there will be a separate program to spawn and parse the output of iptables process, I presume that code will not be part of the node_exporter project. It looks like no code changes are necessary to the text file collector implementation.

[2017-08-09 21:08] grobie commented on #637
I'd be fine having that program being part of node_exporter. Whatever works best for you / a contributor in the end. We just should add a link to such program if it lives outside of this repository.

[2017-08-10 07:39] matthiasr commented on #637
Also keep in mind that reading iptables needs to acquire a lock, so it's very expensive and can take a long time or fail on systems where iptables change a lot (eg. Kubernetes). By running it out of band from the collection you can adjust the frequency and are less sensitive to the time taken.

[2017-08-10 09:14] SuperQ commented on #637
@ahakanbaba No need to close this issue, we can use it to track the implementation of the textfile utility.

[2017-08-10 12:37] SuperQ commented on #635
It looks like you have a very narrow window for `rate()`.  What is the scrape interval used here?  Some lost samples could confuses `rate()` into think there was a counter reset.  It would be useful to have the raw sample data for the 10 minutes around this time.  This can be done with an [instant query](https://prometheus.io/docs/querying/api/#instant-queries) on the HTTP API.

It makes more sens

[2017-08-13 16:49] SuperQ commented on #216
FYI: This work is now being done in https://github.com/prometheus/node_exporter/pull/640

[2017-08-14 12:24] knweiss opened #641 "zoneinfo collector (Linux)"
Feature request: A `/proc/zoneinfo` collector for Linux.

`/proc/zoneinfo` is a Linux kernel proc file that contains lots of virtual memory subsystem metrics. Its fields are useful for **per NUMA node** and/or **per memory zone** analyses and graphs.

I wrote an **initial implementation** of a zoneinfo collector in May 2017 while working on Grafana dashboards for the Linux virtual memory subsystem

[2017-08-14 12:34] mjtrangoni commented on #489
I think the TODO List could be moved to this section [projects](https://github.com/prometheus/node_exporter/projects) and be organized as a real list of issues.

[2017-08-14 12:42] SuperQ commented on #641
Thanks, yes, we would want to implement this in the [prometheus/procfs](https://github.com/prometheus/procfs) repo first.  Having some reference info is great to get that started.

[2017-08-14 14:38] mdlayher commented on #489
Agreed.

[2017-08-15 18:14] roadrunner commented on #627
same here,
the server was burning just like in the hell. i had to kill and disable the node exporter service. coz load was around ~ 1K

[code]

[code]

[2017-08-16 09:59] roieyo commented on #627
same here:
time="2017-08-16T09:26:30Z" level=error msg="ERROR: stat collector failed after 0.000006s: open /proc/stat: too many open files" source="node_exporter.go:91"
time="2017-08-16T09:26:30Z" level=error msg="ERROR: netstat collector failed after 0.000007s: couldn't get netstats: open /proc/net/netstat: too many open files" source="node_exporter.go:91"
time="2017-08-16T09:26:30Z" level=error

[2017-08-16 11:05] mjtrangoni opened #644 "cpu collector: cpufreq/scaling_cur_freq not created by intel_pstate governor"
@SuperQ  @rtreffer
### Host operating system: output of `uname -a`
```Linux hostname 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux```

### node_exporter version: output of `node_exporter -version`

[code]

### Are you running node_exporter in Docker?
No

### What did you do that produced an error?
[code]

### What did you expect to see?

 * A valid `n

[2017-08-16 12:39] mjtrangoni commented on #644
Well, It seem to be fixed upstream with this commit,
[code]
And fortunately this is fixed in RHEL7.4 too,
[code]
See,
[code]

We will have to wait for CentOS 7.4.
Feel free to consider handling this case or closing the issue.

[2017-08-16 14:32] mdlayher commented on #627
Without knowing which collectors you are running, it's impossible to pin down any problems.

As OP did, goroutine stack traces and `lsof` output would be more useful than log entries.

[2017-08-16 14:51] SuperQ commented on #644
That's a pretty annoying kernel bug.  I think the `node_exporter` handling in this case is ok.  It knows that there should be a file to read because the directory is there.  It produces an error because the file permissions are messed up.

Thanks for documenting the bug so others can find the fix.

[2017-08-17 12:55] akardes opened #647 "Can specify collectors to be enabled"
### Host operating system: output of `uname -a`
Using the docker image from https://hub.docker.com/r/prom/node-exporter/

### node_exporter version: output of `node_exporter --version`
Output from startup:
[code]

### node_exporter command line flags
This is my Kubernetes DaemonSet definition:
[code]

### Are you running node_exporter in Docker?
Yes, in Kubernetes.

### What did you do that produc

[2017-08-17 13:09] SuperQ commented on #647
The `cpu` collector was refactored out of the `stat` collector.  This is a feature in `master`, but is not in the 0.14.0 release.  Use `stat` instated of `cpu` until 0.15.0 is released.

[2017-08-18 07:46] #647 closed

[2017-08-18 08:13] SuperQ opened #649 "SELinux denies wifi controller netlink acces"
### Host operating system: output of `uname -a`

RHEL/CentOS 7.x (3.10.x)

### node_exporter version: output of `node_exporter --version`

0.14.0

### node_exporter command line flags

Default

### Are you running node_exporter in Docker?

Yes, but unrelated.

### What did you do that produced an error?

See: https://gitlab.com/gitlab-org/gitlab-ce/issues/36559#note_37819039

[code]

### What did

[2017-08-18 08:19] #649 closed

[2017-08-19 12:12] TheTincho commented on #629
Until this is solved, I have disabled the zfs exporter in 32 bit arches. BTW, there is a build flag missing in zfs_linux.go and zfs_linux_test.go

[2017-08-21 02:54] mygon0172 commented on #635
I collected every minute and set the interval to 1 minute.
I changed the interval to 5 minutes and I was able to solve the problem.
Thank you.

[2017-08-21 02:54] #635 closed

[2017-08-21 04:50] roadrunner commented on #627
yeah @mdlayher, with the help of lsof,  I found the issue causing infinite loop for node exporter.

there was a dead nfs mount point, and everything got to normal after I remove it.

if you're having the similar issue, try to validate your mounts `cat /proc/mounts`

[2017-08-21 11:39] niravpat commented on #627
@roadrunner interesting. so your issue seems to be related to #244. what did you see in lsof that pointed you to the dead nfs mount? Can you share your lsof output?

[2017-08-21 11:54] roadrunner commented on #627
@niravpat I would happily share if there is any, when I run lsof, it's getting hang immediately with an output.

[2017-08-21 17:32] matthiasr commented on #629
Fix in #653, amending the tests to detect 32-bit issues in #652.

[2017-08-21 20:28] #629 closed

[2017-08-22 01:33] niravpat commented on #627
@roadrunner My issue appears to be slightly different though. We are not using any nfs. I was able to get lsof but all I see is high number of sockets open.

[2017-08-22 07:09] alexandrul opened #654 "node_exporter listen only ipv6 unless specifying the actual ipv4 address"
### Host operating system: output of `uname -a`
RHEL 6.5: 2.6.32-431.el6.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux
RHEL 7.3: 3.10.0-514.el7.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux

### node_exporter version: output of `node_exporter --version`
node_exporter, version 0.14.0 (branch: master, revision: 840ba5dcc71a084a3bc63cb6063003c1f94435a6)
  build user:       root@bb6d0678e7f3
  build dat

[2017-08-22 10:39] grobie commented on #654
Please try `-web.listen-address=:9100` instead. This seems to be an issue with golang and not node_exporter. I found https://github.com/golang/go/issues/9334 after a short look, there are more relevant issues.

[2017-08-22 16:21] alexandrul commented on #654
@grobie thank you very much, it works just fine.

I have tried this way before, but netstat was reporting only tcp6 so I never actually tried to connect to the service.
`tcp6       0      0 :::9100                 :::*                    LISTEN      20486/node_exporter`

[2017-08-22 16:21] #654 closed

[2017-08-22 16:29] grobie commented on #654
Here is an explanation for that: https://unix.stackexchange.com/questions/237731/why-are-ipv4-tcp-connections-showing-as-tcp6/237747#237747

[2017-08-23 08:49] xxr3376 opened #656 "http.ListenAndServe should be avoid to prevent too many open files"
Default `Server` in `net/http` package doesn't setup a proper timeout, a server may leave many connections that nobody will use. It's said that `http.ListenAndServe` should not be used in production, create a  `http.Server` instead.

I've encounter `too many open files` many many times in our cluster (~500 machines), I believe it's because Prometheus server may not reuse a same client all the time

[2017-08-23 09:31] SuperQ commented on #656
Prometheus uses long-lived connections to poll targets.  It is likely you have a collector that is getting stuck on an IO operation that http timeouts would not fix.

What is the command line you are using to run the exporter.

[2017-08-23 11:00] xxr3376 commented on #656
I run the exporter by `./node exporter -collectors.enabled=filesystem,diskstats,ipmi,loadavg,mdadm,stat,time,uname,netdev,meminfo,infiniband,thermometer,nvidia`, which is handled by systemd. There're some custom collectors, but they are made carefully, all of them will not block because of the usage of context everywhere.

Following situations may leave a connection there:
1. Prometheus restart, t

[2017-08-23 11:38] SuperQ commented on #656
The cloudflare post you link to is about public internet services, not internal datacenter systems.

Please provide a `lsof` and `pprof` trace of a malfunctioning exporter so we can find the source of the leaking descriptors.

[2017-08-23 13:54] lucasmior commented on #332
@bjoernhaeuser seems like there is an issue when you create the mounted volume after starts the node_exporter. Take a look on https://github.com/prometheus/node_exporter/issues/474 and https://github.com/kubernetes/kubernetes/issues/44301

[2017-08-23 15:05] knweiss opened #659 "node_cpu_core_throttles_total: per core, not per cpu"
@rtreffer @SuperQ

### Host operating system: output of `uname -a`
[code]
### node_exporter version: output of `node_exporter --version`
[code]

### node_exporter command line flags
[code]

### Are you running node_exporter in Docker?
No, on physical multi-core systems.

### What did you do that produced an error?

I am testing the `node_cpu_core_throttles_total` metric. As  the metric name indica

[2017-08-23 15:16] rtreffer commented on #659
Yes. Right now the metric exposes how often a certain cpu was impacted by a core or package throttle.
Regarding the PR: Yeah, I was thinking about that higher level but it would require to export the package/node/cpu topology to correlate this with e.g. high cpu load.

Anyway, I am mainly using this to detect machines that have an unusual throttle frequency and either way of reporting it would wor

[2017-08-23 15:17] knweiss commented on #644
@SuperQ Just to clarify: This is **not a permission problem**. The file `scaling_cur_freq` simply does not exist and the cpu loop returns prematurely - even though the **other files do exist** and could be used to provide interesting metrics.

IMHO it would be nice if this case would be handle more gracefully as it causes lots of missing metrics on RHEL/CentOS 7 systems if they are not already run

[2017-08-23 15:21] SuperQ commented on #644
@knweiss Hmm, that's a tough call.  I would prefer to fail the collector rather than return partial results in this case.  But, it may be worth changing this policy.

[2017-08-23 15:23] SuperQ commented on #659
Yes, it's tricky, because both logical CPUs on a physical core are affected by throttle events.

[2017-08-23 15:24] knweiss commented on #659
@rtreffer I would appreciate any commit that reduces the number of time series to lowest possible number **without losing information**.

Right now, the cpu collector already exposes lots of series on modern multi-core systems.

(Imagine e.g. AMD EPYC server chips with 64 logical CPUs per socket. These are going to be used in HPC clusters with thousands of nodes i.e. the number of time series are

[2017-08-23 16:03] rtreffer commented on #659
Hm, actually cpufreq_cur should be a good/better proxy if throttles cause issues on a core.

So I think it's fine to drop the cardinality of the throttles:
- throttles act as a proxy metric for a broken thermal design (esp. if you see high temps through hwmon, too)
- cpufreq can be uses to detect a cpu that is regularly at a low rate (despite e.g. load / non-idle cpu usage)

Sounds reasonable to d

[2017-08-23 17:08] knweiss commented on #659
Another option would be to drop the `node_cpu_core_throttles_count` metric altogether.

Can you imagine a use case where the package level throttling metrics are not good enough to detect a problem like bad heat transfer paste or broken fans? You can't fix a thermal problem on the core level anyway - only on the package level or higher (e.g. chassis or rack).

This would reduce the number of time

[2017-08-23 17:14] rtreffer commented on #659
The core one can trigger without the node one. A pinned service running on a single CPU can hit the core throttle without hitting the node throttle.

You basically need both to see that a thermal design is insufficient.

Am 23. August 2017 19:08:09 MESZ schrieb Karsten Weiss <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2017-08-24 02:18] weiwei04 commented on #474
I guess this is because
[code]

the -v /:/roofs:ro bind mount host / into containers /rootfs, when docker create the mount namespace for the node_exporter, it will replica the hosts' current mountpoint, so you can see all the host's all the mountpoint before node_exporter started, and the bind mount's "Propagation" : "rprivate" (check /var/lib/docker/containers/CONTAINDER_ID/config.v2.json), which

[2017-08-24 07:22] brian-brazil commented on #644
If a metric doesn't exist due to the software version not supporting it, it's fine not to return it. What's not fine is sometimes returning it and sometimes not, and that sort of failure is where you need to be careful with partial results.

[2017-08-24 07:24] knweiss opened #661 "cpu collector: Change cpu label values from "cpu0" to "0""
### Host operating system: output of `uname -a`
[code]
### node_exporter version: output of `node_exporter --version`
[code]

### node_exporter command line flags
[code]

### Are you running node_exporter in Docker?
No, on physical multi-core systems.

### What did you do that produced an error?

Testing the cpu collector.

### What did you expect to see?

[code]

The cpu label values should IMHO

[2017-08-24 07:40] SuperQ commented on #661
We should cleanup these label values as part of the `node_cpu` metric name change.

See: https://github.com/prometheus/node_exporter/issues/453

[2017-08-24 07:43] SuperQ commented on #644
Yes, the design idea here is that if you get metrics from a specific collector, it will return "all" of the metrics you would expect from that collector.  Having partial results breaks this design idea as @brian-brazil points out.

[2017-08-24 09:58] knweiss commented on #644
@brian-brazil @SuperQ I have one question though: Does the partial results rule apply to a) the entire cpu collector as a whole or b) to each of its major sections  (UpdateStat metrics, `cpufreq` metrics, `thermal_throttle` metrics)?

If the partial results rule applies to the entire cpu collector it would be broken on RHEL 7.3 because it only returns the `UpdateStat()` metrics because of the miss

[2017-08-24 10:04] SuperQ commented on #644
Yea, it's a bit of a mess.  My view is `b`, the major sections.  We could split out the `cpufreq` and `thermal_throttle` sections as separate collectors.  These are only useful for hardware users, and not VM users.

[2017-08-24 15:58] SuperQ commented on #656
The Prometheus server does close connections properly, so it shouldn't be a big problem.  We've never run into http server timeouts as a problem on the thousands of servers we've run since the lifetime of the `node_exporter`.  Every instance of stuck FDs has been related to broken collectors, NFS, that kind of thing.

Totally unrelated to the http side, I have a random tip for in-cluster network t

[2017-08-26 03:46] xxr3376 commented on #656
There's nothing more about `http.ListenAndServe`, so close this issue.

P.S. It's another long story about broken collectors. Those collectors will block whole exporter, I can't determine whether my machines are online or not just rely on node exporter. Most of broken collectors (likes
 filesystem) stuck on syscall, I can do nearly nothing in current architecture.

I have to implement a worker poo

[2017-08-26 03:46] #656 closed

[2017-08-26 07:12] SuperQ commented on #656
There is nothing you can do to make broken/stuck syscalls not block up an exporter.  Having the node_exporter fail, and then Prometheus sees the exporter as down, indicates there is a node problem.  This is an intended design feature.

[2017-08-26 13:18] grobie commented on #644
I'd be fine with that.

[2017-08-27 11:38] xxr3376 commented on #656
It's proper behavior for human but not for program. I think node exporter is designed for automatic operation at very beginning until I found this fact.

My operator program can do nothing when it found a node down in Prometheus now. It have to detect host power status in another way.

[2017-08-28 08:07] regardfs opened #665 "[Dockerfile] Dockerfile build and run docker failed"
Hi:
    I use the dockerfile in this repo, and run with this docker-compose.yml
[code]

but when run docker, it return error with

I do not know why this error happen, anyone can help me with this?
thanks a lot

[2017-08-28 11:26] #665 closed

[2017-08-28 13:45] zhihuiFan opened #666 "feature request: node_disk_read_time_ms vs sar await value"
in the sar output, we have
[code]
in the node exporter:  we have node_disk_read_time_ms and node_disk_reads_completed, currently I use node_disk_read_time_ms /  node_disk_reads_completed to calculate the io latency.

what is the difference between node_disk_read_time_ms /  node_disk_reads_completed  and  await in sar?

Thanks

[2017-08-29 10:19] SuperQ commented on #300
It would also be nice to directly expose link states.  Looking over the code/strace of `ip link`, the tool gets things from netlink.  But similar information is available via `/sys/class/net/...`

[code]

This may also provide a nice info metric that would let users map devices to mac address.

[2017-08-29 10:20] SuperQ commented on #300
/cc @mdlayher

[2017-08-29 13:57] mdlayher commented on #300
This screams rtnetlink to me. Probably doable, but I'm working on some improvements to my netlink packages before I have time to tackle this.

[2017-08-30 11:33] andrewhowdencom opened #668 "Feature request: Expose counts of events in the cgroups notification API"
The stories for this feature are as follows:

1. A developer with little experience about how the kernel memory management system works attempts to run a high memory job, which exhausts memory and kills the job, leaving data in an incomplete state
2. A long running process happens in the background but has a memory leak, and gets OOM killed. Unfortunately monitoring on this process is not setup we

[2017-08-30 15:32] SuperQ commented on #668
We currently don't do much with cgroups directly in the `node_exporter`, as it would duplicate functionality in `cAdvisor`[0].

Maybe what you're looking for is already there?

[0]: https://github.com/google/cadvisor

[2017-08-30 16:06] andrewhowdencom commented on #668
I didn't see it, but I'm happy to move the request. If does seem like more
of their thing

On Wed, 30 Aug 2017, 17:32 Ben Kochie <notifications@github.com> wrote:

--
Andrew Howden
Careful, well crafted web development.
--
W: https://andrewhowden.com/
PGP: https://pgp.andrewhowden.com (79BAC08A6ED1FF1EABE350A7587D3B3A961D2D2D)
--